@import url("https://fonts.googleapis.com/css?family=Rubik:400,500,900");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figcaption, figure, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: #000; }

a:visited {
  color: #333; }

a:hover {
  color: #000; }

a:focus {
  outline: thin dotted; }

a:hover, a:active {
  outline: 0; }

::-moz-selection {
  background: #666;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #666;
  color: #fff;
  text-shadow: none; }

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Contain floats. */
.cf:after {
  content: ' ';
  display: block;
  clear: both; }

html {
  font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

html, html a {
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }

a {
  text-decoration: none;
  color: inherit; }
  a:visited {
    color: inherit; }

html, body {
  font-family: 'Rubik', 'Helvetica-Neue', 'Helvetiva', sans-serif;
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 1em;
  background: linear-gradient(326deg, #fda085, #f6d365, #ff9a9e, #fad0c4);
  background-color: #fda085;
  background-size: 800% 800%;
  -webkit-animation: gradientAnimation 32s linear infinite;
  -moz-animation: gradientAnimation 32s linear infinite;
  animation: gradientAnimation 32s linear infinite; }

@-webkit-keyframes gradientAnimation {
  0% {
    background-position: 53% 0%; }
  50% {
    background-position: 48% 100%; }
  100% {
    background-position: 53% 0%; } }
@-moz-keyframes gradientAnimation {
  0% {
    background-position: 53% 0%; }
  50% {
    background-position: 48% 100%; }
  100% {
    background-position: 53% 0%; } }
@keyframes gradientAnimation {
  0% {
    background-position: 53% 0%; }
  50% {
    background-position: 48% 100%; }
  100% {
    background-position: 53% 0%; } }
body {
  padding: 40px; }

footer {
  margin-top: 80px;
  margin-bottom: 40px;
  font-family: Monaco;
  font-size: 10px;
  color: #FFFFFF;
  letter-spacing: 2px;
  line-height: 18px; }

h1 {
  font-size: 32px;
  color: #FFFFFF;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding-top: 40px;
  padding-bottom: 40px; }
  h1 a {
    font-weight: 900; }

h2 {
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 1px;
  line-height: 30px;
  text-transform: uppercase; }

p, ul {
  max-width: 440px;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0.37px;
  line-height: 30px;
  padding-bottom: 40px; }

a {
  font-weight: 500; }
  a:hover {
    color: white;
    opacity: 0.8; }

li {
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0.37px;
  line-height: 30px; }

.intro {
  font-size: 22px;
  color: #FFFFFF;
  letter-spacing: 0.37px;
  line-height: 30px; }

.links {
  padding-bottom: 60px; }

.work a {
  font-weight: 400; }

.friends {
  max-width: 500px;
  column-count: 3; }
  .friends a {
    font-weight: 400; }
