/* reset */
.cf:after,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}a,a:visited{color:inherit}a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:"";content:none}table{border-collapse:collapse;border-spacing:0}a:hover{color:#000}a:focus{outline:dotted thin}a:active,a:hover{outline:0}*,:after,:before{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}.cf:after{content:' ';clear:both}html{font-family: -apple-system,".SFNSDisplay-Regular","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif}html,html a{-webkit-font-smoothing:antialiased!important;text-shadow:1px 1px 1px rgba(0,0,0,.004)}a{text-decoration:none}

/* styles */

html {
  background-color: #000;
  font-size: 62.5%;
  color: white;
  background-color: #000000;
background-color: #000000;
background-color: #000000;
background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23222222' fill-opacity='0.4'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
/* ui layer */

.ui-layer {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 99;
}

.ui-layer #trigger-3d {
  position: absolute;
  top:46%;
  right: 1%;
  font-size: 4vw;
  font-weight: 600;
  font-weight: 800;
  font-weight: 900;
  transform: rotate(-90deg);
  display: block;
  font-family:BlinkMacSystemFont, -apple-system-headline, ".SFNSDisplay-Regular","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;

  background: -webkit-linear-gradient(left, #3023AE 4%, #6E3FBA 38%, #AE5FCD 66%, #C86DD7 100%);
  background: -o-linear-gradient(left, #3023AE 4%, #6E3FBA 38%, #AE5FCD 66%, #C86DD7 100%);
  background: linear-gradient(to right, #3023AE 4%, #6E3FBA 38%, #AE5FCD 66%, #C86DD7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.2s;
}

.ui-layer #trigger-3d::after {
  content: "3D";
  position: absolute;
  bottom:10px;
  right: 10px;
  font-size: 4vw;
  font-weight: 600;
  font-weight: 800;
  font-weight: 900;
  display: block;

    background: white;
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.2s;

}


.ui-layer #trigger-3d:hover {
  right: 2%;
  transition: 0.2s;
}

/* content layer */

.content-layer {
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 14% 10%;
  font-size: 5.6vw;
  font-weight: 600;
  font-weight: 800;
  font-weight: 900;
  line-height: 1.26;
  letter-spacing: -0.01em;
  z-index: 1;
}

.content-layer header {
  font-family:BlinkMacSystemFont, -apple-system-headline, -apple-system, ".SFNSDisplay-Regular","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  letter-spacing: 0.005em;

}

.content-layer p, .content-layer ul {
  padding-bottom: 5.6vw;
}

.content-layer ul li {
  line-height: 1.4;
}

.content-layer h1 {
  padding-bottom: 1.6vw;
  text-decoration: underline;
}

.content-layer a {
  opacity: 0.7;
  outline: 0;
  /*font-weight: 800;*/
}

.content-layer a:hover {
  color: rgba(255,255,255,0.3)
  /*text-decoration: line-through;*/
}

.content-layer ul li ul {
  display: none;
  margin-left: 10%;
  margin-top: 3vw;
  line-height: 1;
  font-size: 2.8vw;
  width: 60%;
  transition: 0.2s all;
  padding-bottom: 2.6vw;
}

.content-layer ul li ul.active {
  display: block;
  transition: 0.2s all;
}

.content-layer ul li ul li {
  padding-bottom: 2.6vw;
}

.content-layer ul li ul li p {
  padding-bottom: 0vw;
}

/* colors */

.content-layer a.facebook:hover {
  color: #4267B2;
}

.content-layer a.format:hover {
  color: #02866F;
}

.content-layer a.lookbook:hover {
  color: #333;
}

.content-layer a.yu:hover {
  color: #F8002C;
}

@media (min-width: 1025px) and (max-width: 1280px), (min-width: 768px) and (max-width: 1024px) {
  /*TABLETS*/
  .content-layer {
    font-size: 7.6vw;
  }

  .content-layer p, .content-layer ul {
    padding-bottom: 8.6vw;
  }
}


@media (min-width: 481px) and (max-width: 767px), (min-width: 320px) and (max-width: 480px) {
  /*PHONES*/
  .content-layer {
    font-size: 8vw;
  }

  .content-layer p, .content-layer ul {
    padding-bottom: 12vw;
  }
}
