---
tags: project
year: 2017
company: Facebook
layout: project.liquid
title: Avatars for Two Billion.
tagline: How do you build a likeness system for billions of unique people?
desktopThumb: avatar_project_thumb_desktop.png
---

<article>
  <section>
    <h1>TL;DR</h1>
    <p>We built <a href="https://techcrunch.com/2019/06/03/facebook-avatars-stickers/" target="_blank">Facebook Avatars</a>. The bulk of the work was not pixels, but decisions, strategy and representing our diversity.</p>
    <p>Building a large system was hard, required more time and people than expected. Vision and repitition are important to align the team and stakeholders.</p>
  </section>

  <section class="project-info type-light">
    <h2>Project Info</h2>
    <ul>
      <li><span>Company:</span> Facebook</li>
      <li><span>Team:</span> News Feed / Facebook Avatars</li>
      <li><span>Year:</span> 2017 - 2019</li>
      <li><span>Team Size:</span> 2 ~ 32</li>
      <li><span>Roles:</span> product designer, prototyper, strategist, project founder.</li>
    </ul>
  </section>

  <section>
    <h2>The Opportunity</h2>
    <p>In a world of increasingly less social brodcast sharing and the move to private sharing as an overall trend giving people the ability to communicate in a way that feels emotive and personalized becomes increasingly important.</p>
    <p>For many people Facebook (and it's extended ecosystem–IG, Whatsapp, etc) is their online identity, yet this ecosystem lacks personalization that competitors like Snapchat have.</p>
    <p>Through research we validated that, on average, people felt that custom stickers felt more personally expressive than a sticker pack or emojis and felt that they could get across what they meant better by using them.</p>
  </section>
  <section class="footer">
    <div class="heart"></div>
    <h1>Thanks <br/> For Reading!</h1>
  </section>
</article>