.temp-intro {
	position: relative;
	width: 600px;
	margin: 0 auto;
	z-index: 99;
	top: 180px;
	font-family: "proxima-nova","helvetica-neue",helvetica-neue,"helvetica",helvetica,sans-serif;
	overflow: scroll;
	margin-bottom: 260px;

	h1 {
		font-weight: 300;
		font-size: 1.6em;
		margin-bottom: 26px;
	}

	h2 {
		font-size: 0.75em;
		font-weight: bold;
		letter-spacing: 0.02em;
		text-transform: uppercase;
		color: #000;
		padding-top: 36px;
		padding-bottom: 20px;
	}

	i {
		font-size: 0.75em;
		position: relative;
		bottom: 1px;
	}

	p {
		font-size: 0.92em;
		line-height: 1.7;
    max-width: 75%;
    color: #444;
    padding: 4px 0;
    span {
    	font-size: 19px;
    	line-height: 1.8;
    	max-width: 80%;
    }
	}

	a {
		font-weight: normal;
		border-bottom: 1px dotted #aaa;
		margin-bottom: 4px;
	}

	.intro {
		.fb:hover {
			color: #3b5998;
			border-color: #3b5998;
		}
		.fmt:hover {
			color: #ee3440;
			border-color: #ee3440;
		}
		.epts:hover {
			color: #fb8a2e;
			border-color: #fb8a2e;
		}
	}

	.friends {
		width: 420px;
		a {
			font-size: 0.9em;
			border: none;
			margin-bottom: 2px;
			&:hover {
				border-bottom: 1px dotted #aaa;
			}
		}
		li {
			width: 140px;
			line-height: 2.4em;
			display: inline-block;
			margin-right: 4px;
			// &:not(:last-child) ::after {
			// 	content: ',';
			// }
		}
	}
}