---
import BaseLayout from "../../layouts/base-layout.astro";
---

<BaseLayout title="Playground – nate.rip">
    <h1>Playground</h1>
    <a href="/playground/radial-text">Radial Text</a>
</BaseLayout>
