---
import ArrowCard from "@components/ArrowCard.astro";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout title={"Playground"} description={"A place for little experiments"}>
    <Container>
        <div class="space-y-10">
            <div class="font-semibold text-black">Playground</div>
            <ul class="flex flex-col gap-4">
                <li>
                    <a
                        href={`/playground/radial-text`}
                        class="relative group flex flex-nowrap py-3 px-4 pr-10 border border-black hover:text-black transition-colors duration-75 ease-in-out"
                    >
                        <div class="flex flex-col flex-1 truncate">
                            <div class="font-semibold">Radial Text</div>
                            <div class="text-sm">
                                Inspired by classic sci-fi logotype and
                                Illustrator's Text on Path
                            </div>
                        </div>
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            class="absolute top-1/2 right-2 -translate-y-1/2 size-5 stroke-2 fill-none stroke-current"
                        >
                            <line
                                x1="5"
                                y1="12"
                                x2="19"
                                y2="12"
                                class="translate-x-3 group-hover:translate-x-0 scale-x-0 group-hover:scale-x-100 transition-transform duration-75 ease-in-out"
                            ></line>
                            <polyline
                                points="12 5 19 12 12 19"
                                class="-translate-x-1 group-hover:translate-x-0 transition-transform duration-300 ease-in-out"
                            ></polyline>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </Container>
</PageLayout>
