#nav-stream {
  position: relative;
  i {
    font-size: 12px;
    line-height: 12px;

    bottom: 1px;

    color: #f13333;
  }
}

#twitch-live p {
  font-size: 16px;
  line-height: 16px;

  position: absolute;
  z-index: 2;
  top: 20px;

  padding: 8px 14px;

  background-color: #ffffff;
  .fa-live {
    font-size: 12px;

    position: relative;
    bottom: 1px;

    padding-right: 4px;

    color: #f13333;
  }
}