---
layout: home.liquid
title: Nate Butler · Product Designer
---

<section class="content">
  <section class="home">
    <div class="card home-reel">
      <div class="preview"></div>
      <footer>
        <div id="play-showreel" class="button light">
          <i class="icon icon-play"></i>
          Play Showreel
        </div>
      </footer>
    </div>
    <div class="card intro">
      <h3>Hey There.</h3>
      <p>I'm a designer that helps teams get their vision off the ground.</p>
      <p>I specalize in big picture work and love working on teams that solve ambitious problems and create positive change in the world.</p>
      <a href="/about">
        <p>More about me &rarr;</p>
      </a>
    </div>
    <!-- Project Loop -->
    <div class="card">
      {%- for project in collections.project -%}
        <a href="{{ project.url }}">
          <div class="card project">
            <div class="meta">
              <p>{{ project.data.year }} · {{ project.data.company }}</p>
            </div>
            <h1>{{ project.data.title }}</h1>
            <div class="project-thumb large"></div>
          </div>
        </a>
      {%- endfor -%}
    </div>
  </section>
</section>