---
layout: default
---

<div class="wrapper">
  {% include hero-about.html %}
  <div class="work">
    {% assign workItems = (site.work | sort: 'date') | reverse %}
    {% for item in workItems | limit: 6 %}
    <div class="work-item">
      <a href="{{ item.url }}" class="inner">
        <div class="overlay">
          <h2>{{ item.title }}</h2>
        </div>
        <img src="/img/work/thumbs/thumb-work-{{ item.thumbnail.slug }}{{ item.thumbnail.extension }}" alt="{{ item.title }}">
      </a>
    </div>
    {% endfor %}
    <a href="/work" class="work-more">
      <div class="work-more-inner">
        View All Work <i class="fa fa-angle-double-right"></i>
      </div>
    </a>
  </div>
  <div class="about">
    {% include about-info.html %}
  </div>
</div>