---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
    - social
    - media
    - work
  addAllPagesToCollections: true
layout: layouts/page.njk
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag | slug }}/
---

<section class="site-content" id="tag">
	<article>
    <header>
      <h1>{{ tag }}</h1>
    </header>

    {{ layoutContent | safe }}

    {% set postslist = collections[tag] %}
    {% include "components/postslist.njk" %}
  </article>
</section>
