// === Header === //
@import "_header.scss";

// === Body == //

section.s-body {
  margin-top: 60px;
   position: relative;
   z-index: 1;
}

.s-layout {
  width: 100%;
  .s-640 {
    width: 640px;
    margin: 0 auto;
  }
  .s-row {
    width: 100%;
    @extend .cf;
  }
  .s-col-1 {
    width: 180px;
    float: left;
  }
  .s-col-2 {
    width: 520px;
    float: left;
  }
}