// Typography

html {
  font-family: "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  color: #141722;
}

// Font smoothing hack
html, html a {
    -webkit-font-smoothing: antialiased !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

h1 {}

h2 {}

a {
  font-weight: bold;
	text-decoration: none;
	color: inherit;
}

p {
  font-size: 1.6em;
  line-height: 2.125em;
}

li {}