// Typography

html {
  font-family: "proxima-nova", "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  color: $c-text;
}

// Font smoothing hack
html, html a {
    -webkit-font-smoothing: antialiased !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

h1 {
  //h1
}

h2 {}

a {
	text-decoration: none;
	color: inherit;
  font-weight: bold;
}

p {
  font-size: 1.2em;
  line-height: 1.307692308em;
  padding-bottom: 24px;
}

li {}

.t-quote {
  font-size: 1.8em;
  line-height: 1.307692308em;
  color: #999;
}