/* = Reset = */

@import "_reset.scss";

/* = Icons = */
@import "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";

// Vars

// $c-text: #FFFFFF;
$c-text: #141722;
$c-black: #141722;
$c-bg: #FFFFFF;

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

/* Contain floats. */
.cf:after {
  content: ' ';
  display: block;
  clear: both;
}

.s-right {
  float: right;
}

.s-left {
  float: left;
}

html, body {
  background-color: $c-bg;
}

// Typography

@import "_typography.scss";


/* = Custom style starts here = */

// Style

@import "_style.scss";