---
import { type CollectionEntry, getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import FormattedDate from "@components/FormattedDate.astro";
import { readingTime, slugify } from "@lib/utils";
import BackToPrev from "@components/BackToPrev.astro";
import Link from "@components/Link.astro";

export async function getStaticPaths() {
    const shots = (await getCollection("shots")).sort(
        (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
    );
    return shots.map((shot) => ({
        params: {
            slug: shot.slug,
        },
        props: shot,
    }));
}
type Props = CollectionEntry<"shots">;

const shot = Astro.props;
const { Content } = await shot.render();
const dateString = shot.data.date.toString();
---

<PageLayout title={shot.data.title || dateString} description={""}>
    <Container>
        <div>
            <BackToPrev href="/shots"> Back to shots </BackToPrev>
        </div>
        <div class="space-y-1 my-10">
            <div class="flex items-center gap-1.5">
                <div class="font-base text-sm">
                    <FormattedDate date={shot.data.date} />
                </div>
                &bull;
                <div class="font-base text-sm">
                    {readingTime(shot.body)}
                </div>
            </div>
            <div class="text-2xl font-semibold text-black">
                {shot.data.title}
            </div>
        </div>
        <article>
            <Content />
        </article>
    </Container>
</PageLayout>
