---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import ArrowCard from "@components/ArrowCard.astro";
import { Image } from "astro:assets";
import Link from "@components/Link.astro";

const shots = (await getCollection("shots")).sort(
    (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
---

<PageLayout title={"Shots"} description={"Mini projects and works in progress"}>
    <Container>
        <div class="space-y-10">
            <div class="font-semibold text-black">Shots</div>
            <ul class="flex flex-col gap-4">
                {
                    shots.map((shot) => (
                        <li>
                            <Link href={`/shots/${shot.slug}`}>
                                <img
                                    src={`../content/shots/${shot.slug}/${shot.data.img}`}
                                    alt={shot.data.title || ""}
                                />
                            </Link>
                        </li>
                    ))
                }
            </ul>
        </div>
    </Container>
</PageLayout>
