---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { Image } from "astro:assets";

const shots = (await getCollection("shots")).sort(
    (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);

const shotsWithImages = shots.filter(shot => shot.data.img);

---

<PageLayout title={"Shots"} description={"Mini projects and works in progress"}>
    <Container>
        <div class="space-y-10">
            <article>
                <h2 class="font-semibold text-black">Shots</h2>
                <p>Single image works, quick projects, visual explorations, and more - a space where I focus less on process and more on sharing cool visuals.</p>
                <p>While Dribbble had its issues, there's something satisfying about dedicating time to making things look good, which is what this shots are all about.</p>
            </article>
            <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-px">
            {
                shotsWithImages.map((shot) => (
                    <li class="aspect-square">
                        <a href={`/shots/${shot.slug}`} class="block w-full h-full">
                            <Image src={shot.data.img} alt={shot.data.title || "Untitled"} class="w-full h-full object-cover" />
                        </a>
                    </li>
                ))
            }
            </ul>
        </div>
    </Container>
</PageLayout>
