---
import { type CollectionEntry, getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import ArrowCard from "@components/ArrowCard.astro";

const lists = (await getCollection("lists"))
    .filter((list) => !list.data.draft)
    .sort((a, b) => a.data.title.localeCompare(b.data.title));
---

<PageLayout
    title="Lists"
    description="Curated collections of resources, tools, and links"
>
    <Container>
        <div class="space-y-10">
            <div class="font-semibold text-black">Lists</div>
            <div class="space-y-4">
                <section class="space-y-4">
                    <div>
                        <ul class="flex flex-col gap-4">
                            {
                                lists.map((list) => (
                                    <li>
                                        <ArrowCard entry={list} />
                                    </li>
                                ))
                            }
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </Container>
</PageLayout>
