/* ======================== //
//    _____      _     _ 
//   / ____|    (_)   | |
//  | |  __ _ __ _  __| |
//  | | |_ | '__| |/ _` |
//  | |__| | |  | | (_| |
//   \_____|_|  |_|\__,_|                               
// ======================== */

/* Standard grid */
.card-grid {
  display: grid;
  background-color: var(--border);
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-column-gap: 1px;
  grid-row-gap: 1px;

  & > article,
  & > div {
    background-color: var(--background);
    width: 100%;
    overflow: hidden;

    &.double-wide {
      grid-column-end: span 4;
    }
  }
}

.grid-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Standard grid card */

.card {
  display: flex;
  background-color: var(--background);

  &:not(.horizontal) {
    // Cards flex vertical by default
    flex-direction: column;
  }

  &.horizontal {
    flex-direction: row;
  }
  
  &.justified {
    // Justify content vertically
    justify-content: space-between;
  }

  &:not(.e2e) {
    padding: (2 * $unit) + px;

    & > footer {
      margin-top: (2 * $unit) + px;
    }
  }

  &.e2e {
    .content {
      padding: (2 * $unit) + px;
      padding-bottom: 0;
    }

    & > footer {
      padding: (2 * $unit) + px;
      padding-top: 0;
    }
  }

  .content {
    flex-grow: 1;
  }

  & > footer {
    flex-grow: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}