@import url("https://fonts.googleapis.com/css2?family=Martel:wght@400;700&family=Raleway:ital,wght@0,900;1,700&display=swap");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

:root {
  --unit: $unit;
  --primary: #000;
  --secondary: white;
  --background: white;
  --border: #333;
  --hover: #f2f2f2;
  --pressed: #d9d9d9;
  --highlight: #00ffff;
  --highlight-soft: rgba(0, 255, 255, 0.3);
  --body-copy: "Martel", Cambria, "Hoefler Text", Utopia, "Liberation Serif",
    "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
  --headlines: "Raleway", Univers, Calibri, "Gill Sans", "Gill Sans MT",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* || Typography */
html {
  color: var(--primary);
}

html {
  font-size: 14px;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc( 14px + 4 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 18px;
  }
}

html {
  font-family: var(--body-copy);
}

/* Headlines */
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--headlines);
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a {
  text-decoration: none;
}

h1 {
  font-size: 2.0736rem;
  line-height: 2rem;
  text-decoration: none;
  letter-spacing: -0.5px;
  font-weight: 900;
  font-family: var(--headlines);
}

h1 {
  font-size: 29.0304px;
}

@media screen and (min-width: 320px) {
  h1 {
    font-size: calc( 29.0304px + 5.14929 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 34.17969px;
  }
}

h2 {
  font-size: 1.728rem;
  line-height: 1.5rem;
  text-decoration: none;
  letter-spacing: -0.5px;
  font-weight: 700;
  font-family: var(--headlines);
}

h2 {
  font-size: 21.7728px;
}

@media screen and (min-width: 320px) {
  h2 {
    font-size: calc( 21.7728px + 2.83657 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  h2 {
    font-size: 24.60938px;
  }
}

h3 {
  font-size: 1.44rem;
  line-height: 1.4rem;
  text-decoration: none;
  letter-spacing: -0.2px;
  font-weight: 600;
  font-family: var(--body-copy);
}

h3 {
  font-size: 16.128px;
}

@media screen and (min-width: 320px) {
  h3 {
    font-size: calc( 16.128px + 1.372 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  h3 {
    font-size: 17.5px;
  }
}

/* Body Elements */
p {
  font-size: 1rem;
  line-height: 1.5;
}

code {
  display: block;
  padding: 8px 16px;
  background: rgba(0, 0, 0, 0.05);
  font-family: Fira Code, monospace;
  font-style: normal;
  font-weight: 300;
  font-size: 13;
  line-height: 20px;
}

/* Links */
a[href],
a[href]:visited {
  color: var(--primary);
}

.text-link, .layout-list a, .post-rich-text p a {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.text-link:hover, .layout-list a:hover, .post-rich-text p a:hover {
  background-color: var(--highlight-soft);
}

/* Typography Helpers */
.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-lowercase {
  text-transform: lowercase;
}

/* |x End Typography */
/* || Helpers */
.border-all, body, .skip-nav, #post .hero-image-wrapper, #post .hero-image figcaption, #post .edit {
  border: 1px solid var(--border);
}

.border-top, #main-content > footer {
  border-top: 1px solid var(--border);
}

.border-bottom {
  border-bottom: 1px solid var(--border);
}

.border-right, #main-nav {
  border-right: 1px solid var(--border);
}

.border-left {
  border-left: 1px solid var(--border);
}

/* Icons */
i.icon {
  display: block;
}

i.icon-20 {
  width: 20px;
  height: 20px;
}

i.icon-40 {
  width: 40px;
  height: 40px;
}

i.icon.frame {
  -webkit-box-shadow: inset 0px 0px 0px 1px #333;
          box-shadow: inset 0px 0px 0px 1px #333;
  background-color: var(--background);
}

/* || Layout */
/* Layout Helpers */
.layout-frame, .nav-list li, #post .hero-image figcaption, #post .edit {
  padding: 10px 10px;
}

.layout-frame.large, .layout-card, .skip-nav, .card-grid > article .content, .featured-post-grid > article .content,
.card-grid > div .content,
.featured-post-grid > div .content, .nav-list li.large, .home-header > div, #post header, #post .hero-image figcaption.large, #post .large.edit, #post .post-content {
  padding: 20px 20px;
}

.layout-card {
  background-color: var(--background);
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex-space-between, .layout-list .list-item header, .layout-list .list-meta, .collapsible-card-list .card-header, #main-content > footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.layout-space, .layout-list .list-item:not(:last-child),
.layout-list .list-context:not(:last-child),
.layout-list .list-header:not(:last-child), .collapsible-card-list .list-item:not(:last-child), .nav-toc li, .post-rich-text h5 {
  margin-bottom: 10px;
}

.layout-space-large, .layout-list.spaced-list .list-header,
.layout-list.spaced-list .list-item:not(:last-child), .collapsible-card-list .card-header, .nav-top, .nav-search, #post .hero-image-wrapper, #post .edit {
  margin-bottom: 20px;
}

.layout-text-columns.two {
  -webkit-columns: auto 2;
          columns: auto 2;
}

.layout-text-columns.three {
  -webkit-columns: auto 2;
          columns: auto 2;
}

.layout-width {
  display: block;
}

.layout-width.sixty {
  max-width: 60%;
}

.interactable:hover, .collapsible-card-list .card-header .collapse-control .icon:hover, .nav-list a:hover {
  background-color: var(--hover);
}

.interactable:pressed, .collapsible-card-list .card-header .collapse-control .icon:pressed, .nav-list a:pressed {
  background-color: var(--pressed);
}

/* Layout Lists */
.layout-list {
  /* Special Lists */
}

.layout-list .list-item,
.layout-list .list-context,
.layout-list .list-header {
  list-style: none;
}

.layout-list .list-title {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
  margin-right: 5%;
}

.layout-list .list-meta {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.layout-list .list-context {
  max-width: 500px;
}

.layout-list .list-content {
  margin-top: 10px;
}

.layout-list .list-description {
  max-width: 80%;
}

.layout-list p {
  margin: 0;
}

.collapsible-card-list {
  display: -ms-grid;
  display: grid;
  position: relative;
  min-height: 0;
  -ms-grid-rows: 0.1fr;
      grid-template-rows: 0.1fr;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  gap: 1px;
  background-color: var(--border);
}

.collapsible-card-list *:not(.bullet-list),
.collapsible-card-list *:not(.numbered-list) {
  list-style: none;
}

.collapsible-card-list .card-header .collapse-control.active .minus {
  display: none;
}

.collapsible-card-list .card-header .collapse-control:not(.active) .plus {
  display: none;
}

.collapsible-card-list .list-item[aria-current="section"],
.collapsible-card-list .list-item[aria-current="page"] {
  text-shadow: 2px 4px 2px rgba(0, 255, 255, 0.5);
}

/* ================================ */
/* Layout Sections                 */
/* ============================== */
/* Base Layout */
body {
  min-height: 100vh;
  background-color: var(--background);
}

.site-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media all and (min-width: 1677px) {
  .site-grid {
    border-right: 1px solid #333;
  }
}

@media all and (max-width: 900px) {
  .site-grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* Skip navigation for accessibility */
.skip-nav {
  position: absolute;
  margin: 20px;
  background-color: var(--background);
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  z-index: 99;
}

.skip-nav:active, .skip-nav:focus-within {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.card-grid, .featured-post-grid {
  display: -ms-grid;
  display: grid;
  background-color: var(--border);
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  -ms-grid-rows: (1fr)[auto-fill];
      grid-template-rows: repeat(auto-fill, 1fr);
  grid-column-gap: 1px;
  grid-row-gap: 1px;
}

.card-grid > article, .featured-post-grid > article,
.card-grid > div,
.featured-post-grid > div {
  background-color: var(--background);
  width: 100%;
  overflow: hidden;
}

.card-grid > article p, .featured-post-grid > article p,
.card-grid > div p,
.featured-post-grid > div p {
  width: 100%;
}

.card-grid > article .thumbnail img, .featured-post-grid > article .thumbnail img,
.card-grid > div .thumbnail img,
.featured-post-grid > div .thumbnail img {
  width: 100%;
  height: auto;
}

.card-grid > article .thumbnail-2x1, .featured-post-grid > article .thumbnail-2x1,
.card-grid > div .thumbnail-2x1,
.featured-post-grid > div .thumbnail-2x1 {
  display: none;
}

.card-grid > article.no-thumb p, .featured-post-grid > article.no-thumb p,
.card-grid > div.no-thumb p,
.featured-post-grid > div.no-thumb p {
  display: block;
}

@media all and (min-width: 700px) {
  .card-grid > article.wide, .featured-post-grid > article.wide,
  .card-grid > div.wide,
  .featured-post-grid > div.wide {
    -ms-grid-column-span: 2;
        grid-column-end: span 2;
  }
  .card-grid > article.wide .thumbnail-2x1, .featured-post-grid > article.wide .thumbnail-2x1,
  .card-grid > div.wide .thumbnail-2x1,
  .featured-post-grid > div.wide .thumbnail-2x1 {
    display: block;
  }
  .card-grid > article.wide .thumbnail-1x1, .featured-post-grid > article.wide .thumbnail-1x1,
  .card-grid > div.wide .thumbnail-1x1,
  .featured-post-grid > div.wide .thumbnail-1x1 {
    display: none;
  }
}

.card-grid > article.double-wide, .featured-post-grid > article.double-wide,
.card-grid > div.double-wide,
.featured-post-grid > div.double-wide {
  -ms-grid-column-span: 4;
      grid-column-end: span 4;
}

.grid-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* ================================ */
/* Main Nav                        */
/* ============================== */
#main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 0;
  background-color: var(--border);
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  min-height: 80px;
}

@media all and (min-width: 900px) {
  #main-nav {
    width: 300px;
  }
}

#main-nav > *:not(:last-child) {
  border-bottom: 1px solid var(--border);
}

#main-nav .footer {
  background-color: var(--background);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#main-nav .brand-link[aria-current="page"] svg {
  -webkit-filter: drop-shadow(4px 4px 0px #00ffff);
  filter: drop-shadow(4px 4px 0px #00ffff);
}

.nav-top {
  height: 20px;
}

.nav-top .brand svg {
  margin: 2px;
}

#system-theme-toggle {
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
}

#system-theme-toggle:hover {
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
}

.nav-search form {
  position: relative;
  padding: 0;
  border: 1px solid var(--border);
}

.nav-search form:focus .input[type="submit"] {
  display: block;
}

.nav-search form label {
  display: none;
}

.nav-search form input {
  border: 0;
  background-color: transparent;
}

.nav-search form input[type="text"] {
  width: 100%;
  height: 40px;
  padding: 10px 10px 10px 40px;
  border-radius: 0;
  font-family: var(--body-copy);
}

.nav-search form input[type="submit"] {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
}

.nav-search form .icon {
  position: absolute;
  top: 10px;
  left: 10px;
}

.nav-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 10px 10px;
}

.nav-list li {
  list-style: none;
  border: 1px solid var(--border);
  min-height: 80px;
}

.nav-list a {
  display: block;
  text-decoration: none;
}

.nav-list a > [aria-current="page"] {
  -webkit-box-shadow: 2px 2px 0 var(--highlight);
          box-shadow: 2px 2px 0 var(--highlight);
}

.nav-toc li > ol {
  margin-top: 10px;
}

.nav-toc li li {
  margin-left: 20px;
}

/* ================================ */
/* Footer                          */
/* ============================== */
#main-content > footer {
  background-color: var(--background);
}

/* ================================ */
/* Page Layouts                    */
/* ============================== */
/* --- Home --- */
.featured-post-grid {
  min-height: 100%;
  grid-auto-flow: dense;
}

.featured-post-grid > article,
.featured-post-grid > div {
  min-height: 400px;
}

.home-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  background-color: var(--border);
  width: 100%;
  -ms-grid-column-span: 4;
      grid-column-end: span 4;
}

.home-header > div {
  background-color: var(--background);
}

/* --- Blog & Post --- */
#blog,
#post {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
  max-width: 910px;
}

#post header {
  border-bottom: 1px solid var(--border);
}

#post header .inner {
  max-width: 540px;
  margin: 0 auto;
}

#post header h1,
#post header h2 {
  margin-bottom: 10px;
}

#post .hero-image {
  position: relative;
  margin: 0;
}

#post .hero-image img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

#post .hero-image figcaption {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background-color: var(--background);
}

#post .edit {
  display: inline-block;
  border-left-width: 5px;
}

#post .post-content {
  border-bottom: 1px solid var(--border);
}

#post .post-content .inner {
  max-width: 540px;
  margin: 0 auto;
}

.post-rich-text p:not(:last-child) {
  margin-bottom: 10px;
}

.post-rich-text h1,
.post-rich-text h2 {
  margin: 50px 0 10px 0;
  widows: 2;
}

.post-rich-text h3,
.post-rich-text h4 {
  margin: 20px 0 10px 0;
}

/* |x End Layout */
/* Site BG */
.site-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=inline.css.map */