//  _______                                              _
// |__   __|                                            | |
//    | | _   _  _ __    ___    __ _  _ __  __ _  _ __  | |__   _   _
//    | || | | || '_ \  / _ \  / _` || '__|/ _` || '_ \ | '_ \ | | | |
//    | || |_| || |_) || (_) || (_| || |  | (_| || |_) || | | || |_| |
//    |_| \__, || .__/  \___/  \__, ||_|   \__,_|| .__/ |_| |_| \__, |
//         __/ || |             __/ |            | |             __/ |
//        |___/ |_|            |___/             |_|            |___/

body {
  font-size: 14px;
  line-height: 20px;
}

/* Set font stacks */

html,
body {
  color: var(--primary);

  &:not(h1, h2, h3, h4, h5) {
    font-family: var(--body-copy);
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--headlines);
}

h1,
h2:not(.text-subhead),
h3 {
  letter-spacing: -0.5px;
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a {
  text-decoration: none;
}

h1 {
  font-size: 54px;
  line-height: 50px;
}

h2 {
  &:not(.text-subhead) {
    font-size: 40px;
    line-height: 40px;
  }

  &.text-subhead {
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
    font-family: var(--body-copy);
  }
}

h3 {
  font-size: 28px;
  line-height: 30px;
}

h4 {
  font-size: 16px;
  line-height: 20px;
}

h5 {
  font-size: 16px;
  line-height: 20px;
  font-family: var(--body-copy);
}

h6 {
  font-size: 1em;
  line-height: 1em;
  font-weight: 900;
}

.subtitle {
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  font-family: var(--body-copy);
}

p {
  margin: 0;
  padding: 0;
}

.text-small-caps {
  text-transform: uppercase;
}

.text-large {
  font-size: 19px;
  line-height: 30px;
}

.text-caption {
  font-size: 12px;
  line-height: 20px;
}

.text-block-quote,
blockquote {
  @extend .text-large;
}

a[href],
a[href]:visited {
  color: var(--primary);
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
}

.text-link {
  text-decoration: underline;
  text-underline-offset: 2px;

  &:hover {
    background-color: var(--highlight-soft);
  }
}

code {
  display: block;
  padding: 8px 16px;
  background: rgba(0, 0, 0, 0.05);
  font-family: Fira Code, monospace;
  font-style: normal;
  font-weight: 300;
  font-size: 13;
  line-height: 20px;
}

/* Typography Helpers */

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-overflow-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
