<div id="instafeed" class="insta-feed"></div>
<footer class="site-footer">
  <div class="inner">
    {% comment %}
    <div class="footer-nav row">
      <a href="{{ site.baseurl }}/work">Work</a>
      <a href="{{ site.baseurl }}/journal">Journal</a>
      <a href="{{ site.baseurl }}/">{% include svg/n8-wordmark.svg %}</a>
      <a href="{{ site.baseurl }}/stream">Stream</a>
      <a href="{{ site.baseurl }}/about">About</a>
    </div>
    {% endcomment %}
    <div class="social row">
      <a href="https://www.instagram.com/iamnbutler/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a>
      <a href="https://www.facebook.com/iamnbutler" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a>
      <a href="https://github.com/iamnbutler" target="_blank"><i class="fa fa-github-alt" aria-hidden="true"></i> Github</a>
      <!-- <a href="https://www.twitch.tv/then8show/" target="_blank"><i class="fa fa-twitch" aria-hidden="true"></i> Twitch</a> -->
      <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i> Dribble</a>
      <a href="http://www.last.fm/user/iamnbutler" target="_blank"><i class="fa fa-lastfm" aria-hidden="true"></i> Last.fm</a>
    </div>
    <div class="row">
      <div class="left"></div>
      <div class="right">
        <!-- TODO - Make sure to use {{ current year }} or something similar for second date in copywrite so it updates automatically -->
        <p class="copywrite"> Nate Butler &mdash; Content &copy;2010 to ∞ &mdash; <a href="https://github.com/iamnbutler/iamnbutler.github.io">Hosted on <i class="fa fa-github-alt" aria-hidden="true"></i></a></p>
      </div>
    </div>
  </div>
</footer>