<!-- Site Footer Start -->
<footer class="site-footer">
	<div class="content inner">
		<div class="social-footer">
			<h1>Find me <br />elsewhere.</h1>
			<ul>
				<li>Instagram</li>
				<li>Twitter</li>
			</ul>
			<ul>
				<li>Dribbble</li>
				<li>Inspo Boards</li>
			</ul>
		</div>
		<div class="footer-intro">
			<div class="avatar"></div>
			<div class="bubble">
				<p>I'm Nate, a designer focused on helping teams realize their product's vision.</p>
				<p>In my free time I make <a href="https://www.instagram.com/iamnbutler/">3D art</a> and play too many <a href="https://my.playstation.com/profile/yaminateo">video games</a> <i class="em em-sweat_smile" aria-role="presentation" aria-label="SMILING FACE WITH OPEN MOUTH AND COLD SWEAT"></i></p>
			</div>
		</div>
		<footer>
			<div class="button light">
				<i class="icon icon-up"></i> 
				<span>Back to Top</span>
			</div>
		</footer>
	</div>
	
	<div class="small-circle"></div>
	<div class="large-circle"></div>
	<div class="bg-rect"></div>
</footer>