<script src="http://code.jquery.com/jquery-latest.min.js"></script>

<!-- For YT Search -->
<script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"></script>

<!-- API for loading Instagram feed -->
<script src="/js/instafeed.js"></script>

<!-- Load page specific scripts -->
<!-- TODO: Split up scripts by page and use gulp or other to merge post dev -->
<script src="/js/scripts.js"></script>
<script type="text/javascript" src="http://ws.audioscrobbler.com/2.0/?method=user.getrecenttracks&user=iamnbutler&api_key=eb5004312b5007e85399ab8128cd90ff&limit=1&format=json&callback=recentTrack"></script>