<header id="site-header">
	<div class="inner">
		<a href="#top-nav" class="circle-button" id="top-nav"><i class="icon icon-lines"></i></a>
		<a href="{{ '/' | url }}" id="about-nav">
			Nate Butler
		</a>
		<a href="#top-nav" class="circle-button" id="contact-nav">
			<i class="icon icon-contact"></i>
		</a>
	</div>
</header>