{% include track-player.html %} <!-- Load header last.fm track player -->
<header class="site-header state-closed">
  <h1 id="wordmark">
    <a href="{{ site.baseurl }}/">
      {% include svg/n8-wordmark.svg %}
    </a>
  </h1>
  <nav class="desktop-nav">
    {% assign current = page.url | downcase | split: '/' %}
    <div class="nav-items">
      <a href="{{ site.baseurl }}/work" {% if current[1] == 'work' %}class='state-active'{% endif %}>Work</a>
      <a href="{{ site.baseurl }}/journal" {% if current[1] == 'journal' %}class='state-active'{% endif %}>Journal</a>
      <a id="nav-stream" href="{{ site.baseurl }}/stream" {% if current[1] == 'stream' %}class='state-active'{% endif %}>Stream</a>
      <a href="{{ site.baseurl }}/about" {% if current[1] == 'about' %}class='state-active'{% endif %}>About</a>
    </div>
  </nav>
  <nav class="social-links">
    <a href="https://www.twitch.tv/then8show/" target="_blank"><i class="fa fa-twitch" aria-hidden="true"></i></a>
    <a href="https://www.instagram.com/iamnbutler/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    <!-- <a href="https://www.facebook.com/iamnbutler" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a> -->
    <a href="https://github.com/iamnbutler" target="_blank"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
    <!-- <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a> -->
    <!-- <a href="http://www.last.fm/user/iamnbutler" target="_blank"><i class="fa fa-lastfm" aria-hidden="true"></i></a> -->
  </nav>
  <!-- [#2] Todo: Build YT track sideloader for current track - https://github.com/iamnbutler/nate-dev/issues/2 -->
  <a href="#" id="track">
    <i class="fa fa-fw fa-headphones live"></i> <span id="track-track">Track</span> &mdash; <span id="track-artist">Artist</span>
  </a>
  <a href="#" id="menu">
    <svg width="22px" height="16px" viewBox="329 24 22 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs></defs>
        <g id="mobile-header-nav-svg" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(329.000000, 24.000000)">
            <rect id="bar-3" fill="#000000" x="0" y="0" width="22" height="2" rx="2"></rect>
            <rect id="bar-2" fill="#000000" x="0" y="7" width="22" height="2" rx="2"></rect>
            <rect id="bar-1" fill="#000000" x="0" y="14" width="22" height="2" rx="2"></rect>
        </g>
    </svg>
  </a>
  </div>
</header>