<div id="overlay">
  <div id="nav-menu">
    <ul>
      <li id="nav-about" class="wide short">
        <h3>About.</h3>
      </li>
      <!-- Project Loop -->
      {%- for project in collections.project -%}
        <a href="{{ post.url }}">
          <li>
            <h3>{{ project.data.title }}</h3>
            <meta>{{ project.data.year }} · {{ project.data.company }}</meta>
          </li>
        </a>
      {%- endfor -%}
      <li class="wide short">
        <h3>Sketches.</h3>
      </li>
    </ul>
  </div>
  <div id="contact-menu"></div>
  <div id="lightbox">
  
  </div>
  <footer>
    <div class="button small dark" id="overlay-close">
      <i class="icon icon-close"></i>
      Close
    </div>
  </footer>
</div>