<head>
	<title>Nate Butler · Product Designer</title>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- TODO - REMOVE AFTER LAUNCH -->
	<meta name="robots" content="noindex">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,700|Raleway:900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/screen.css">
	<!-- Emoji Library – https://emoji-css.afeld.me/ -->
	<link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">

</head>