<a href="#" class="collapse-control" data-control="collapse">
  <i class="icon icon-20 frame minus">
    {% include "static/img/icon/icon-minus.svg" %}
  </i>
  <i class="icon icon-20 frame plus">
    {% include "static/img/icon/icon-plus.svg" %}
  </i>
</a>