<!-- Media List – media-list.njk -->
{% set medialist = collections.media %}
<section class="list">
  {% for media in medialist | limit(4) %}
  <article class="list-item">
    <header>
      <a href="{{ media.url | url }}">{{ media.data.title }}</a>
    </header>
    <footer class="meta">
      <a href="#" class="outlet">{{ media.data.outlet }}</a>
      <div class="year">{{ media.data.year }}</div>
    </footer>
  </article>
  {% endfor %}
  
</section>