<!-- Social List – social-list.njk -->
{% set sociallist = collections.social %}
<ul class="list">
  {% for social in sociallist %}
  <li>
    <header>
      <div class="list-title">
        <a href="{{ social.url | url }}">{{ social.data.title }}</a>
      </div>
      <div class="list-meta">
        <p class="description">{{ social.data.description }}</p>
    </header>
  </li>
  {% endfor %}
  
</ul>