<!-- Table of Contents -->
{# Wrap {% if content | toc %} around the include tag to conditionally add ToC if there is one. #}
<ul class="layout-card layout-list collapsible-card numbered-list">

  <li class="card-header">
    <h1>Contents</h1>
  </li>
  
  {{ content | toc(wrapperClass='nav-toc') | safe }}
  
</ul>