  {% set worklist = collections.work %}
  {% for work in worklist | reverse %}
  <article class="card wide e2e
    {% if work.data.show_thumbnail %} has-thumbnail{% endif %}">
    {# If there is a work thumbnail show it #}
    {%- if work.data.show_thumbnail and work.data.thumbnail -%}
    {# If a work prefers wide thumbnails use them #}
    <a href="{{ work.url | url }}">
      <div class="thumbnail">
        <img src="{{ work.data.thumbnail }}" alt="Image Placeholder" class="thumbnail-1x1">
        {%- if work.data.wide_thumbnail -%}
        <img src="{{ work.data.wide_thumbnail }}" alt="Image Placeholder" class="thumbnail-2x1">
        {% endif %}
      </div>
    </a>
    {% endif %}

    <div class="content work-preview">
      <div class="preview-content">
        <h2 class="layout-space">
          <a href="{{ work.url | url }}">{{ work.data.title }}</a>
        </h2>
        <h3 class="layout-space">{{ work.data.subtitle }}</h3>
        <p class="preview-summary layout-space-large"> {{ work.data.summary }}</p>
      </div>
    </div>
    <footer class="work-preview-meta">
      <div class="work-tag">
        <p class="text-capitalize">
            {{ work.data.project_type }}
        </p>
      </div>
      <div class="work-date date-MY text-uppercase">
        <time datetime="{{ work.date | machineDate }}">
          {{ work.date | mmyy }}
        </time>
      </div>
    </footer>
  </article>
  {% endfor %}