<!-- Work List – work-list.njk -->
{% set worklist = collections.work %}
<ul class="layout-list work-list">

  <li class="list-header">
    <h4>Work</h4>
    
  </li>

  <li class="list-context">
    <p>Work pages coming soon!</p>
  </li>

  {% for work in worklist %}
  <li class="list-item">
    <p class="work-title">{{ work.data.title }}</p>
    <p class="work-year">{{ work.data.year }}</p>
  </li>
  {% endfor %}
  </li>
  
</ul>