@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow-y: scroll;
    color-scheme: light;
}

html,
body {
    @apply size-full;
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    @apply font-sans antialiased;
    @apply flex flex-col;
    @apply bg-white;
    @apply text-black/50;
}

header {
    @apply fixed top-0 left-0 right-0 z-50 py-5;
    @apply bg-white/75;
    @apply backdrop-blur-sm saturate-200;
}

main {
    @apply flex-1 py-32;
}

footer {
    @apply py-5 text-sm;
}

article {
    @apply max-w-full prose prose-img:mx-auto prose-img:my-auto;
    @apply prose-headings:font-semibold prose-p:font-serif;
    @apply prose-headings:text-black;
}

@layer utilities {
    article a {
        @apply font-sans text-current underline underline-offset-2;
        @apply decoration-black/15;
        @apply transition-colors duration-300 ease-in-out;
    }
    article a:hover {
        @apply text-black;
        @apply decoration-black/25;
    }

    article img {
        @apply my-1
    }
}

html #back-to-top {
    @apply opacity-0 pointer-events-none;
}

html.scrolled #back-to-top {
    @apply opacity-100 pointer-events-auto;
}
