body.about {
  // === About Body === //
  .about-body {
    width: 100%;
  }
  .about {
    padding: 0px 0 120px 0;
    // border-top: solid #f5f5f5 8px;
  }
  .about .portrait img {
    width: 100%;
    margin-bottom: 80px;
  }
  @media (min-width: 800px) {
    .about {
      overflow: auto;
      zoom: 1;

      max-width: 1440px;
      margin: 0 auto;
      &::before, &::after {
        display: table;

        content: "";
      }
      &::after {
        clear: both;
      }
    }
  }
  @media (max-width: 900px) {
    padding-bottom: 60px;
  }
  .about .row {
    padding: 0 160px;
    &::before, &::after {
      display: table;

      content: "";
    }
    &::after {
      clear: both;
    }
    &:not(:last-child) {
      margin-bottom: 80px;
    }
  }
  @media (max-width: 1200px) {
    .about .row {
      padding: 0 40px;
    }
  }
  .about .row {
    & .list-1 {
      float: left;

      width: 25%;
      ul {
        column-count: 1;
      }
    }
    & .list-2 {
      float: left;

      width: 50%;
      ul {
        column-count: 2;
      }
    }
    & .list-4 {
      float: left;

      width: 100%;
      ul {
        column-count: 4;
      }
    }
  }

  @media (max-width: 920px) {
    .about .row {
      &:not(:last-child) {
        margin-bottom: 40px;
      }
      & .list-1, .list-2, .list-4 {
        margin-bottom: 40px;
      }
      & .list-1 {
        float: left;

        width: 100%;
        ul {
          column-count: 1;
        }
      }
      & .list-2 {
        float: left;

        width: 100%;
        ul {
          column-count: 2;
        }
      }
      & .list-4 {
        float: left;

        width: 100%;
        ul {
          column-count: 2;
        }
      }
    }
  }
  .about .row li {
    line-height: 1.69em;

    list-style: none;

    @include monospace();
    &::before {
      content: "– ";
    }
  }
  @media (max-width: 580px) {
    .about .row li {
      font-size: 14px;
    }
  }
  .about .row li > a {
    &:hover {
      color: #f13333;
      i {
        color: black;
      }
    }
  }
  .about h2 {
    font-size: 38px;
    line-height: 44px;

    margin-bottom: 30px;
  }
  .about h3 {
    font-size: 16px;
    line-height: 1.12;

    margin-bottom: 8px;

    letter-spacing: .08em;
    text-transform: uppercase;
  }
  .about .bio {
    margin-bottom: 30px;

    column-count: 2;
    column-gap: 60px;
  }

  @media (max-width: 920px) {
    .about .bio {
      column-count: 1;
    }

    .about-contact {
      display: block;
    }
  }

  .about .bio p {
    font-size: 16px;
    line-height: 32px;

    padding-bottom: 12px;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;

    @include monospace();
  }
  .about .bio p > a {
    font-weight: bold;
    &:hover {
      color: #f13333;
    }
  }
  .about-contact {
    font-size: 16px;
    line-height: 32px;

    margin-right: 110px;

    @include monospace();
    &:hover span {
      color: #f13333;
    }
  }
}

// About info widget

section.about-info {
  margin-bottom: 80px;
  .about-contact {
    font-size: 16px;
    line-height: 32px;

    margin-right: 110px;

    @include monospace();
    &:hover span {
      color: #f13333;
    }
  }
}