body.index {
	// === About Body === //
	.stream-body {
		width: 100%;
	}

	@media (min-width: 800px) {
    .stream-body {
      overflow: auto;
      zoom: 1;

      max-width: 1200px;
      margin: 0 auto;
    }
  }
}