// Index

@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,900');

html, body {
font-family: 'Rubik', 'Helvetica-Neue', 'Helvetiva', sans-serif;
font-weight: 400;
letter-spacing: -0.02em;
line-height: 1em;


background: linear-gradient(326deg, #fda085, #f6d365, #ff9a9e, #fad0c4);
background-color: #fda085;
background-size: 800% 800%;

-webkit-animation: gradientAnimation 32s linear infinite;
-moz-animation: gradientAnimation 32s linear infinite;
animation: gradientAnimation 32s linear infinite;
}

@-webkit-keyframes gradientAnimation {
    0%{background-position:53% 0%}
    50%{background-position:48% 100%}
    100%{background-position:53% 0%}
}
@-moz-keyframes gradientAnimation {
    0%{background-position:53% 0%}
    50%{background-position:48% 100%}
    100%{background-position:53% 0%}
}
@keyframes gradientAnimation {
    0%{background-position:53% 0%}
    50%{background-position:48% 100%}
    100%{background-position:53% 0%}
}

html {
	height: 100%;
}

body {
	display: flex;
	height: 100%;
}

.column {
	width: 50%;
	height: 100%;
	overflow: hidden;
	.inner {
		overflow-y: scroll;
		height: 100%;
		padding: 40px;
	}
}

#instafeed {
	// display: flex;
	// flex-grow: 0;
	// flex-shrink: 0;
	// flex-direction: column;
	// justify-content: center;
	// align-items: center;
}

#instafeed > a {
	float: left;
	display: block;
	box-shadow: 20px 20px 45px -10px rgba(173, 210, 237, 0.4);
	width: 200px;
	height: 200px;
	overflow: hidden;
	margin-right: 20px;
	margin-bottom: 20px;
	img {
		width: 100%;
		height: 100%;
	}
}

footer {
	margin-top: 80px;
	margin-bottom: 40px;
	font-family: Monaco;
	font-size: 10px;
	color: #FFFFFF;
	letter-spacing: 2px;
	line-height: 18px;
}

h1 {
	font-size: 32px;
	color: #FFFFFF;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	padding-top: 40px;
	padding-bottom: 40px;
	& a {
		font-weight: 900;
	}
}

h2 {
	font-size: 12px;
	color: #FFFFFF;
	letter-spacing: 1px;
	line-height: 30px;
	text-transform: uppercase;

}

p, ul {
	max-width: 440px;
	font-size: 18px;
	color: #FFFFFF;
	letter-spacing: 0.37px;
	line-height: 30px;
	padding-bottom: 40px;
}

a {
	font-weight: 500;
	&:hover {
		color: white;
		opacity: 0.8;
	}
}

li {
	font-size: 18px;
	color: #FFFFFF;
	letter-spacing: 0.37px;
	line-height: 30px;
}

.column.work {
	background-color: #fff;
	h2 {
		color: #000;
	}
}

.intro {
	font-size: 22px;
	color: #FFFFFF;
	letter-spacing: 0.37px;
	line-height: 30px;
}

.links {
	padding-bottom: 60px;
}

.work {
	a {
		font-weight: 400;
	}
}

.friends {
	max-width: 500px;
	column-count: 3;
	@media (max-width: 600px) {
		column-count: 1;
	}
	a {
		font-weight: 400;
	}
}