@import "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.frame {
  margin: 0 auto;
  max-width: 100%; }
  .frame:after {
    content: "";
    display: table;
    clear: both; }

[class*='bit-'] {
  float: left;
  padding: 0.3em; }

.bit-1 {
  width: 100%; }

.bit-2 {
  width: 50%; }

.bit-3 {
  width: 33.33333%; }

.bit-4 {
  width: 25%; }

.bit-5 {
  width: 20%; }

.bit-6 {
  width: 16.66667%; }

.bit-7 {
  width: 14.28571%; }

.bit-8 {
  width: 12.5%; }

.bit-9 {
  width: 11.11111%; }

.bit-10 {
  width: 10%; }

.bit-11 {
  width: 9.09091%; }

.bit-12 {
  width: 8.33333%; }

.bit-25 {
  width: 25%; }

.bit-40 {
  width: 40%; }

.bit-60 {
  width: 60%; }

.bit-75 {
  width: 75%; }

@media (max-width: 30em) {
  .bit-1 {
    width: 100%; }

  .bit-2 {
    width: 100%; }

  .bit-3 {
    width: 100%; }

  .bit-4 {
    width: 100%; }

  .bit-5 {
    width: 100%; }

  .bit-6 {
    width: 100%; }

  .bit-7 {
    width: 100%; }

  .bit-8 {
    width: 100%; }

  .bit-9 {
    width: 100%; }

  .bit-10 {
    width: 100%; }

  .bit-11 {
    width: 100%; }

  .bit-12 {
    width: 100%; } }
@media (min-width: 30em) and (max-width: 50em) {
  .bit-4,
  .bit-6,
  .bit-8,
  .bit-10,
  .bit-12 {
    width: 50%; }

  .bit-1,
  .bit-2,
  .bit-3,
  .bit-5,
  .bit-7,
  .bit-9,
  .bit-11 {
    width: 100%; } }
@media (min-width: 50em) and (max-width: 68.75em) {
  .bit-2,
  .bit-7 {
    width: 100%; }

  .bit-4,
  .bit-8,
  .bit-10,
  .bit-12 {
    width: 50%; } }
html, body {
  background-color: #FFFFFF; }

html {
  font-family: "Gotham", Gotham, "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  color: #141722; }

html, html a {
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }

h1, h2, h3, h4 {
  font-family: "Nimbus Sans Cond", "Nimbus Sans Condensed", "nimbus-sans-condensed", sans-serif; }

a {
  text-decoration: none;
  color: inherit; }
  a:visited {
    color: inherit; }
  a:hover {
    color: inherit;
    outline: 0; }
  a:focus {
    outline: thin dotted; }
  a:active {
    outline: 0; }

header.site-header {
  position: relative;
  z-index: 10;
  display: flex;
  width: 100%;
  height: 64px;
  margin: 0 auto;
  background-color: #ffffff;
  justify-content: space-between;
  flex-wrap: nowrap; }
  header.site-header.state-closed {
    overflow: hidden; }

header.site-header #wordmark {
  width: 108px;
  height: 64px;
  flex: 0 1 108px; }

header.site-header #wordmark a {
  display: block;
  width: 70px;
  padding: 20px 24px; }

header.site-header #menu {
  display: block;
  height: 64px;
  padding: 24px;
  align-self: flex-end;
  flex: 0 1 70px; }

@media (min-width: 800px) {
  header.site-header #menu {
    display: none; } }
@media (max-width: 800px) {
  header.site-header .desktop-nav {
    display: none; } }
.desktop-nav a {
  line-height: 64px;
  padding: 0 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 14px; }
  .desktop-nav a:last-child {
    padding-right: 24px; }

.mobile-nav {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.98);
  z-index: 8;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  padding-top: 64px;
  z-index: 9; }

.mobile-nav .nav-items {
  padding: 17px 24px; }

.mobile-nav .nav-items a {
  font-size: 20px;
  line-height: 20px;
  display: block;
  padding: 17px 0px;
  letter-spacing: 4px;
  text-transform: lowercase;
  color: #333333;
  font-family: SourceCodePro-Regular, "SourceCodePro", monospace; }
  .mobile-nav .nav-items a.state-active {
    font-weight: bold; }

.mobile-nav footer {
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 58px; }

.mobile-nav footer .track {
  font-size: 12px;
  line-height: 10px;
  display: inline-block;
  overflow: hidden;
  padding: 24px;
  white-space: nowrap;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  color: #333333;
  font-family: SourceCodePro-Regular, "SourceCodePro", monospace; }

.mobile-nav footer .track a {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.mobile-nav footer .track i {
  position: relative;
  top: 1px;
  padding-right: 12px; }

header.site-header #menu rect {
  transition: all .3s; }

header.site-header #menu #bar-3 {
  transform: rotate(0deg); }
header.site-header #menu #bar-2 {
  opacity: 1; }
header.site-header #menu #bar-1 {
  transform: rotate(0deg); }

body.state-nav-active header.site-header #menu #bar-3 {
  transform: rotate(45deg) translateX(4px) translateY(-3px); }
body.state-nav-active header.site-header #menu #bar-2 {
  opacity: 0; }
body.state-nav-active header.site-header #menu #bar-1 {
  transform: rotate(-45deg) translateX(-10px) translateY(-1px); }

body.state-nav-active .mobile-nav {
  display: block; }

html, body {
  width: 100%;
  min-height: 100%; }

body {
  background-color: white; }

body.index .hero {
  padding: 64px 24px; }
body.index .hero h1 {
  font-size: 52px;
  font-weight: bold;
  line-height: 56px;
  margin-bottom: 34px;
  animation: rotate-in .2s forwards;
  animation-delay: 0.4s;
  letter-spacing: .65px;
  opacity: 0;
  color: #1e1e1e; }
body.index .hero .hero-more {
  font-size: 12px;
  display: block;
  width: 100%;
  text-align: center;
  letter-spacing: 2px;
  color: #3e3e3e;
  font-family: SourceCodePro-Regular, "SourceCodePro", monospace; }
@media (min-width: 800px) {
  body.index .hero h1 {
    text-align: center; } }
body.index .work .work-item {
  position: relative;
  width: 100%;
  background-color: #efefef; }
  body.index .work .work-item:hover img {
    opacity: 0.7; }
  body.index .work .work-item:nth-child(2n) {
    background-color: #fefefe; }
body.index .work-item img {
  display: block;
  width: 100%; }
body.index .work-item h2 {
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
  height: 40px;
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 8px 6px;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff; }
body.index .work-item p {
  font-size: 16px;
  line-height: 18px;
  position: absolute;
  top: 70px;
  left: 20px;
  max-width: 80%;
  padding: 4px 6px;
  letter-spacing: .08em;
  text-transform: uppercase;
  max-width: 320px;
  color: #666666;
  background-color: #ffffff;
  font-family: SourceCodePro-Regular, "SourceCodePro", monospace; }
@media (min-width: 800px) {
  body.index .work {
    overflow: auto;
    zoom: 1;
    max-width: 1200px;
    margin: 0 auto; }
    body.index .work::before, body.index .work::after {
      display: table;
      content: ""; }
    body.index .work::after {
      clear: both; }
  body.index .work .work-item {
    width: 50%;
    float: left; } }
body.index footer {
  padding-bottom: 44px;
  border-bottom: solid #f5f5f5 8px; }
body.index footer h3 {
  font-size: 36px;
  font-weight: bold;
  line-height: 56px;
  padding: 36px 24px 0px 24px;
  letter-spacing: .45px;
  color: #1e1e1e; }
body.index footer .more {
  font-size: 12px;
  padding: 0 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #3e3e3e;
  font-family: SourceCodePro-Regular, "SourceCodePro", monospace; }

@keyframes rotate-in {
  0% {
    -webkit-transform: translateZ(-20px) rotateX(90deg);
    -moz-transform: translateZ(-20px) rotateX(90deg);
    -ms-transform: translateZ(-20px) rotateX(90deg);
    -o-transform: translateZ(-20px) rotateX(90deg);
    transform: translateZ(-20px) rotateX(90deg);
    opacity: 0; }
  60% {
    -webkit-transform: translateZ(-20px) rotateX(-10deg);
    -moz-transform: translateZ(-20px) rotateX(-10deg);
    -ms-transform: translateZ(-20px) rotateX(-10deg);
    -o-transform: translateZ(-20px) rotateX(-10deg);
    transform: translateZ(-20px) rotateX(-10deg);
    opacity: 1; }
  100% {
    -webkit-transform: translateZ(-20px) rotateX(0);
    -moz-transform: translateZ(-20px) rotateX(0);
    -ms-transform: translateZ(-20px) rotateX(0);
    -o-transform: translateZ(-20px) rotateX(0);
    transform: translateZ(-20px) rotateX(0);
    opacity: 1; } }
body.project .project-header {
  position: relative;
  z-index: 6;
  overflow: hidden;
  width: 100%;
  height: 325px; }
body.project .project-header .gallery {
  font-size: 0;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  height: 325px;
  margin: auto;
  white-space: nowrap;
  background-color: #f9f9f9;
  -webkit-scroll-snap-type: mandatory;
  -ms-scroll-snap-type: mandatory;
  scroll-snap-type: mandatory;
  -webkit-scroll-snap-points-x: repeat(325px);
  -ms-scroll-snap-points-x: repeat(325px);
  scroll-snap-points-x: repeat(325px);
  -webkit-overflow-scrolling: touch; }
  body.project .project-header .gallery::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0; }
body.project .project-header .gallery img {
  z-index: 1;
  width: 325px;
  margin-right: 5px; }
body.project a.full-view {
  position: absolute;
  z-index: 7;
  right: 0;
  bottom: 0;
  width: 44px;
  height: 44px;
  margin: 14px;
  background-color: #ffffff;
  box-shadow: -5px 10px 5px 0px rgba(0, 0, 0, 0.04), 5px 10px 5px 0px rgba(0, 0, 0, 0.04), 0px 8px 5px 0px rgba(0, 0, 0, 0.08); }
body.project a.full-view svg {
  width: 28px;
  height: 28px;
  margin: 8px; }
body.project .project-body {
  padding-bottom: 34px; }
body.project .project-body h2 {
  font-size: 32px;
  line-height: 32px;
  margin: 24px 24px 28px 24px;
  letter-spacing: .4px;
  color: #1e1e1e; }
body.project .project-body h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  margin: 10px 24px 14px 24px;
  letter-spacing: .3px;
  color: #1e1e1e; }
body.project .project-body p {
  font-size: 14px;
  line-height: 24px;
  margin: 14px 24px;
  letter-spacing: 0px;
  color: #4a4a4a;
  font-family: SourceCodePro-Regular, "SourceCodePro", monospace; }
body.project .project-body img {
  width: 100%;
  padding: 0 10px; }
body.project a.project-body-btn {
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  margin: 10px 24px;
  padding: 10px 14px;
  letter-spacing: 0px;
  color: white;
  color: #ffffff;
  background: #1e1e1e;
  font-family: SourceCodePro-Regular, "SourceCodePro", monospace; }
body.project .full-view-gallery {
  position: fixed;
  z-index: 19;
  top: 0;
  left: 0;
  display: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #ffffff; }
  body.project .full-view-gallery.state-active {
    display: block; }
body.project .full-view-gallery .gallery {
  font-size: 0;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  margin: auto;
  white-space: nowrap;
  background-color: #ffffff;
  -webkit-scroll-snap-type: mandatory;
  -ms-scroll-snap-type: mandatory;
  scroll-snap-type: mandatory;
  -webkit-scroll-snap-points-x: repeat(100%);
  -ms-scroll-snap-points-x: repeat(100%);
  scroll-snap-points-x: repeat(100%);
  -webkit-overflow-scrolling: touch; }
  body.project .full-view-gallery .gallery::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0; }
body.project .full-view-gallery img {
  position: relative;
  top: 50%;
  width: 96%;
  margin: 10px 2%;
  transform: translateY(-50%);
  box-shadow: -20px 10px 5px 0px rgba(0, 0, 0, 0.02), 20px 10px 5px 0px rgba(0, 0, 0, 0.02), 0px 4px 5px 0px rgba(0, 0, 0, 0.08); }
body.project .full-view-gallery .full-view-close {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 34px;
  height: 34px;
  margin: 14px;
  background-color: #ffffff;
  z-index: 29; }
body.project .full-view-gallery .full-view-close svg {
  width: 18px;
  height: 18px;
  margin: 8px; }
  body.project .full-view-gallery .full-view-close svg rect {
    fill: #ccc; }
