---
import BaseLayout from "../layouts/base-layout.astro";
---

<BaseLayout title="nate.rip"
    ><div class="size-full">
        <div
            class="w-64 flex flex-col items-center justify-center h-full mx-auto"
        >
            <img src="/under_construction.webp" alt="Under construction!" />
            <h2 class="type-large-3 text-center">Under construction!</h2>
        </div>
    </div></BaseLayout
>
