---
import BaseLayout from "../layouts/base-layout.astro";
import { getCollection } from "astro:content";
const allFragments = await getCollection("fragment");
---

<BaseLayout title="nate.rip" fullWidth>
    <section
        class="flex-none grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-2 xl:grid-cols-6 gap-4 p-4"
    >
        {
            allFragments
                .slice()
                .reverse()
                .map((f, ix) => (
                    <a href={`f/${f.slug}`} class="card">
                        <header>
                            <div class="f-number">
                                {allFragments.length - 1 - ix}
                            </div>
                        </header>
                        <h2>{f.data.title}</h2>
                        <p class="caption">{f.data.preview}</p>
                    </a>
                ))
        }
    </section>
</BaseLayout>
