// Insta Feed
.insta-feed {
  overflow: hidden;

  margin-top: 40px;

  background-color: #ffffff;
}
.insta-feed .insta-item {
  display: block;
  float: left;
  overflow: hidden;

  width: 16.6666667%;
  // padding: 6px;

  transition: opacity .2s;
  &:hover {
    transition: opacity .2s;

    opacity: .7;
  }
}
.insta-feed .insta-item img {
  overflow: hidden;

  width: 100%;
}
@media (min-width: 800px) {
  .insta-feed {
    overflow: auto;
    zoom: 1;
    // max-width: 1212px;
    // margin: 0 auto;
    &::before, &::after {
      display: table;

      content: "";
    }
    &::after {
      clear: both;
    }
  }
}

// == Footer == //
footer.site-footer {
  padding: 40px;

  text-align: center;

  background-color: #ffffff;
  // border-top: solid #f5f5f5 4px;
}

footer.site-footer .inner {
  width: 100%;
}

@media (min-width: 800px) {
  footer.site-footer .inner {
    zoom: 1;

    max-width: 1212px;
    margin: 0 auto;
  }
}
footer.site-footer .row {
  display: flex;

  justify-content: center;
  &:not(:last-child) {
    padding-bottom: 28px;
  }
}
footer.site-footer .footer-nav {
  line-height: 52px;

  height: 52px;
  margin-bottom: 16px;

  align-items: flex-start;
}
footer.site-footer .footer-nav a {
  font-size: 12px;

  display: inline-block;

  padding: 0 30px;

  transition: opacity .2s;
  letter-spacing: .4em;
  text-transform: uppercase;
  &:hover {
    transition: opacity .2s;

    opacity: .7;
  }
}
footer.site-footer .footer-nav a svg {
  position: relative;
  top: 8px;

  height: 28px;
}
footer.site-footer .social {
  // color: #444;
}
footer.site-footer .social i {
  font-size: 12px;
  line-height: 16px;

  padding-right: 4px;
}
footer.site-footer .social a {
  font-size: 10px;
  line-height: 16px;
  font-weight: bold;

  display: inline-block;

  padding: 0 30px;

  transition: opacity .2s;
  letter-spacing: .1em;
  text-transform: uppercase;

  @include monospace();
  &:hover {
    transition: opacity .2s;

    opacity: .7;
  }
}
footer.site-footer .copywrite {
  font-size: 12px;

  letter-spacing: 1px;

  color: #666666;

  @include monospace();
}