// == Header Variables == //

$header-height: 64px;

// == Header == //

header.site-header {
  position: relative;
  z-index: 10;

  width: 100%;
  height: $header-height;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 0px 0px 60px rgba(0,0,0,.18),
  0px 4px 12px rgba(0,0,0,.08),
  0px 12px 8px rgba(0,0,0,.04);

  justify-content: space-between;
  flex-wrap: nowrap;
  &.state-closed {
    overflow: hidden;
  }
}

@media (min-width: 800px) {
  .site-header {
    overflow: auto;
    zoom: 1;
    // max-width: 1240px;

    margin: 0 auto;
  }
}

header.site-header #wordmark {
  float: left;

  width: 69px;
  height: $header-height;

  flex: 0 1 108px;
}

header.site-header #wordmark a {
  display: block;

  width: 70px;
  padding: 20px 24px;
}

header.site-header #menu {
  display: block;

  height: $header-height;
  padding: 24px;
}

header.site-header .social-links {
  float: right;
}

header.site-header .social-links a {
  font-size: 16px;
  line-height: $header-height;

  padding: 0 6px;

  letter-spacing: .2em;
  text-transform: uppercase;
  &:last-child {
    padding-right: 24px;
  }
  &:hover i {
    transform: scale(1.3);
  }
}

@media (min-width: 800px) {
  header.site-header #menu {
    display: none;
  }
}

@media (max-width: 800px) {
  header.site-header .desktop-nav {
    display: none;
  }
}

// == Desktop Nav == //

.desktop-nav {
  float: left;

  padding: 0 12px;

  text-align: center;
}

.desktop-nav a {
  font-size: 12px;
  font-weight: bold;
  line-height: $header-height;

  margin: 0 12px;

  letter-spacing: .2em;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  padding-bottom: 6px;

  color: #000000;
  &:last-child {
    margin-right: 24px;
  }
  &.state-active {
    border-color: black;
  }
}

header.site-header #track {
  font-size: 14px;
  line-height: $header-height;

  float: right;
  overflow: hidden;

  max-width: 600px;
  padding: 0 24px;

  white-space: nowrap;
  letter-spacing: .02em;
  text-overflow: ellipsis;

  color: #000000;

  @include monospace();
}

header.site-header #track i {
  position: relative;
  top: 1px;

  animation: header-track-blink 2s infinite ease-in-out;
  &.live {
    color: #f13333;
  }
}

@keyframes header-track-blink {
  0% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(1.0);
  }

  100% {
    transform: scale(1.1);
  }
}

// == Mobile Nav == //

.mobile-nav {
  position: absolute;
  z-index: 8;
  z-index: 9;
  top: 0;
  left: 0;

  display: none;

  width: 100%;
  height: 100%;
  padding-top: $header-height;

  background-color: rgba(255,255,255,.98);
}

.mobile-nav .nav-items {
  padding: 17px 24px;
}

.mobile-nav .nav-items a {
  font-size: 20px;
  line-height: 20px;

  display: block;

  padding: 17px 0px;

  letter-spacing: 4px;
  text-transform: lowercase;

  color: #333333;

  @include monospace();
  &.state-active {
    font-weight: bold;
  }
}

.mobile-nav footer {
  position: absolute;
  bottom: 0;
  left: 0;

  overflow: hidden;

  width: 100%;
  height: 58px;
}

.mobile-nav footer .track {
  font-size: 12px;
  line-height: 10px;

  display: inline-block;
  overflow: hidden;

  padding: 24px;

  white-space: nowrap;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-overflow: ellipsis;

  color: #333333;

  @include monospace;
}

.mobile-nav footer .track a {
  display: block;
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
}
.mobile-nav footer .track i {
  position: relative;
  top: 1px;

  padding-right: 12px;
}

// == Mobile Nav Animation == //

header.site-header #menu rect {
  transition: all .3s;
}

header.site-header #menu {
  #bar-3 {
    transform: rotate(0deg);
  }
  #bar-2 {
    opacity: 1;
  }
  #bar-1 {
    transform: rotate(0deg);
  }
}

body.state-nav-active header.site-header #menu {
  #bar-3 {
    transform: rotate(45deg) translateX(4px) translateY(-3px);
  }
  #bar-2 {
    opacity: 0;
  }
  #bar-1 {
    transform: rotate(-45deg) translateX(-10px) translateY(-1px);
  }
}

// == Nav Actions == //

body.state-nav-active .mobile-nav {
  display: block;
}