body.index {
  // margin: 2px;
  // === Work === //
  .work {
    position: relative;
  }
  .work-item {
    position: relative;
    z-index: 1;

    overflow: hidden;

    width: 100%;
    margin-bottom: 2px;

    @include aspect-ratio(4,3);
    &:hover {
      .overlay {
        transition: background-color .3s;

        background-color: rgba(255,255,255,.98);
      }
      h2 {
        transition: opacity .2s;

        opacity: 1;
      }
    }
    &:nth-child(odd) .inner {
      margin-right: 2px;
    }
    &:nth-child(1), &:nth-child(2) {
      margin-top: 2px;
    }
  }
  .work-item .inner {
    position: absolute;
    z-index: 6;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    margin: 0px;
  }
  .work-item .overlay {
    position: absolute;
    z-index: 7;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    transition: background-color .3s;
  }
  .work-item img {
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;
  }
  .work-item h2 {
    font-size: 16px;
    line-height: 16px;

    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0px;

    margin-top: -8px;

    transition: opacity .2s;
    text-align: center;
    letter-spacing: -.02em;

    opacity: 0;
    color: #000000;

    @include monospace();
  }
  .work-more {
    font-size: 14px;
    line-height: 60px;
    font-weight: bold;

    display: block;
    float: left;

    width: 100%;
    height: 60px;
    margin-bottom: 2px;

    text-align: center;
    letter-spacing: .1em;
    text-transform: uppercase;

    color: white;
    background-color: black;

    @include monospace();
    &:hover {
      color: black;
      background-color: white;
    }
  }
  @media (min-width: 800px) {
    .work {
      zoom: 1;
      &::before, &::after {
        display: table;

        content: "";
      }
      &::after {
        clear: both;
      }
    }

    .work .work-item {
      float: left;

      width: 50%;
    }
  }
  // == About == //
  .about {
    padding: 0px 0 120px 0;
    // border-top: solid #f5f5f5 8px;
  }
  .about .portrait img {
    width: 100%;
    margin-bottom: 80px;
  }
  @media (min-width: 800px) {
    .about {
      overflow: auto;
      zoom: 1;

      max-width: 1440px;
      margin: 0 auto;
      &::before, &::after {
        display: table;

        content: "";
      }
      &::after {
        clear: both;
      }
    }
  }
  .about .row {
    padding: 0 160px;
  }
  .about h2 {
    font-size: 38px;
    line-height: 44px;

    margin-bottom: 30px;
  }
  .about .bio {
    margin-bottom: 30px;

    column-count: 2;
    column-gap: 60px;
  }
  .about .bio p {
    font-size: 16px;
    line-height: 32px;

    padding-bottom: 12px;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;

    @include monospace();
  }
  .about .bio p a {
    font-weight: bold;
  }
  .about-contact {
    font-size: 16px;
    line-height: 32px;

    @include monospace();
    &:hover {
      font-weight: bold;
    }
  }
  .about-contact span {
    font-weight: bold;
  }
}

@keyframes rotate-in {
  0% {
    -webkit-transform: translateZ(-20px) rotateX(90deg);
    -moz-transform: translateZ(-20px) rotateX(90deg);
    -ms-transform: translateZ(-20px) rotateX(90deg);
    -o-transform: translateZ(-20px) rotateX(90deg);
    transform: translateZ(-20px) rotateX(90deg);

    opacity: 0;
  }

  60% {
    -webkit-transform: translateZ(-20px) rotateX(-10deg);
    -moz-transform: translateZ(-20px) rotateX(-10deg);
    -ms-transform: translateZ(-20px) rotateX(-10deg);
    -o-transform: translateZ(-20px) rotateX(-10deg);
    transform: translateZ(-20px) rotateX(-10deg);

    opacity: 1;
  }

  100% {
    -webkit-transform: translateZ(-20px) rotateX(0);
    -moz-transform: translateZ(-20px) rotateX(0);
    -ms-transform: translateZ(-20px) rotateX(0);
    -o-transform: translateZ(-20px) rotateX(0);
    transform: translateZ(-20px) rotateX(0);

    opacity: 1;
  }
}