body.index {
  // background: rgb(181,247,181);
  // background: linear-gradient(110deg, rgba(158,236,244,1) 0%,rgba(208,251,209,1) 100%);
  main {
    position: relative;
    z-index: 1;
  }
  main .background {
    position: absolute;
    z-index: 1;

    width: 100%;
    height: 100%;

    background: rgb(105,71,135);
    background: linear-gradient(65deg,  rgba(105,71,135,1) 0%,rgba(89,117,211,1) 30%,rgba(85,185,255,1) 60%,rgba(104,233,255,1) 100%);
  }
  main .bg-clouds-top {
    position: fixed;
    z-index: 3;
    top: -100px;
    right: -400px;

    width: 1660px;
    height: 800px;

    animation: bg-clouds 100s linear infinite;

    background-image: url( /img/bg-clouds-top.png );
  }
  main .bg-middle-middle {
    position: fixed;
    z-index: 2;
    top: -100px;
    right: -400px;

    width: 1660px;
    height: 800px;

    animation: bg-clouds 80s linear infinite;

    background-image: url( /img/bg-clouds-middle.png );
  }
  main .bg-clouds-bottom {
    position: fixed;
    z-index: 1;
    top: -100px;
    right: -400px;

    width: 1660px;
    height: 800px;

    animation: bg-clouds 60s linear infinite;

    background-image: url( /img/bg-clouds-bottom.png );
  }
  @keyframes bg-clouds {
    0% {
      transform: translateX(1300px);
    }
    100% {
      transform: translateX(-1700px);
    }
  }
  main > .content {
    padding-top: 40px;
    position: relative;
    z-index: 5;
  }
  // === Hero === //
  .hero {
    position: relative;
    max-width: 1200px;
    margin: 0px auto 40px auto;
    padding: 60px 24px;

    background-color: #ffffff;
    box-shadow: -20px 20px 20px rgba(0,0,0,.04),
    20px 20px 20px rgba(0,0,0,.04),
    0px 12px 60px rgba(0,0,0,.16),
    0px 4px 10px rgba(0,0,0,.12);
  }
  .hero h1 {
    font-size: 52px;
    font-weight: bold;
    line-height: 56px;

    margin-bottom: 34px;

    animation: rotate-in .2s forwards;
    animation-delay: .4s;
    letter-spacing: .65px;

    opacity: 0;
    color: #1e1e1e;
  }
  .hero .hero-more {
    font-size: 12px;

    display: block;

    width: 100%;

    text-align: center;
    letter-spacing: 2px;

    color: #3e3e3e;

    @include monospace();
  }

  @media (min-width: 800px) {
    .hero h1 {
      text-align: center;
    }
  }
  // === Work === //
  .work {
    padding-bottom: 40px;
  }
  .work-item {
    position: relative;
    z-index: 1;

    width: 100%;
    &:hover img {
      z-index: 99;
    }
  }
  .work-item .inner {
    display: block;

    margin: 0px;

    box-shadow: -20px 20px 20px rgba(0,0,0,.04),
    20px 20px 20px rgba(0,0,0,.04),
    0px 12px 40px rgba(0,0,0,.16),
    0px 4px 10px rgba(0,0,0,.12);
  }
  .work-item img {
    display: block;

    width: 100%;
    height: 100%;
  }
  .work-item h2 {
    font-size: 36px;
    font-weight: bold;
    line-height: 36px;

    position: absolute;
    top: 20px;
    left: 20px;

    height: 40px;
    padding: 8px 6px;

    letter-spacing: 0px;
    text-transform: uppercase;

    color: #000000;
    background-color: #ffffff;
  }
  .work-item p {
    font-size: 16px;
    line-height: 18px;

    position: absolute;
    top: 70px;
    left: 20px;

    max-width: 80%;
    max-width: 320px;
    padding: 4px 6px;

    letter-spacing: .08em;
    text-transform: uppercase;

    color: #666666;
    background-color: #ffffff;

    @include monospace();
  }
  .work-more {
    font-size: 14px;
    line-height: 60px;

    float: left;

    width: 100%;
    height: 60px;
    margin-top: 80px;

    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    background-color: #f5f5f5;

    @include monospace();
    &:hover {
      font-weight: bold;

      color: #ffffff;
      background-color: #000000;
    }
  }
  @media (min-width: 800px) {
    .work {
      zoom: 1;

      max-width: 1200px;
      margin: 0 auto;
      &::before, &::after {
        display: table;

        content: "";
      }
      &::after {
        clear: both;
      }
    }

    .work .work-item {
      float: left;

      width: 50%;
    }
  }
  // == About == //
  .about {
    padding: 40px 0;
    // border-top: solid #f5f5f5 8px;
  }
  @media (min-width: 800px) {
    .about {
      overflow: auto;
      zoom: 1;

      max-width: 1200px;
      margin: 0 auto;
      &::before, &::after {
        display: table;

        content: "";
      }
      &::after {
        clear: both;
      }
    }
  }
  .about .row {
    display: flex;
  }
  .about .photo {
    padding-right: 60px;

    flex: 1 1 22%;
  }
  .about .photo img {
    width: 100%;
    height: 100%;
    margin-top: 6px;
  }
  .about .bio {
    flex: 1 1 78%;
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
    -moz-column-gap: 40px;
    -webkit-column-gap: 40px;
    column-gap: 40px;
  }
  .about .bio p {
    font-size: 14px;
    line-height: 24px;

    padding-bottom: 12px;

    @include monospace();
  }
  .about .bio p a {
    font-weight: bold;
  }
  @media (min-width: 1200px) {
    .about .bio {
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-count: 2;
    }

    .about .bio p {
      text-align: justify;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      hyphens: auto;
    }
  }
  // Insta Feed
  .insta-feed {
    overflow: hidden;

    margin-top: 40px;

    background-color: #ffffff;
  }
  .insta-feed .insta-item {
    display: block;
    float: left;
    overflow: hidden;

    width: 16.6666667%;
    // padding: 6px;

    transition: opacity .2s;
    &:hover {
      transition: opacity .2s;

      opacity: .7;
    }
  }
  .insta-feed .insta-item img {
    overflow: hidden;

    width: 100%;
  }
  @media (min-width: 800px) {
    .insta-feed {
      overflow: auto;
      zoom: 1;
      // max-width: 1212px;
      // margin: 0 auto;
      &::before, &::after {
        display: table;

        content: "";
      }
      &::after {
        clear: both;
      }
    }
  }
}

@keyframes rotate-in {
  0% {
    -webkit-transform: translateZ(-20px) rotateX(90deg);
    -moz-transform: translateZ(-20px) rotateX(90deg);
    -ms-transform: translateZ(-20px) rotateX(90deg);
    -o-transform: translateZ(-20px) rotateX(90deg);
    transform: translateZ(-20px) rotateX(90deg);

    opacity: 0;
  }

  60% {
    -webkit-transform: translateZ(-20px) rotateX(-10deg);
    -moz-transform: translateZ(-20px) rotateX(-10deg);
    -ms-transform: translateZ(-20px) rotateX(-10deg);
    -o-transform: translateZ(-20px) rotateX(-10deg);
    transform: translateZ(-20px) rotateX(-10deg);

    opacity: 1;
  }

  100% {
    -webkit-transform: translateZ(-20px) rotateX(0);
    -moz-transform: translateZ(-20px) rotateX(0);
    -ms-transform: translateZ(-20px) rotateX(0);
    -o-transform: translateZ(-20px) rotateX(0);
    transform: translateZ(-20px) rotateX(0);

    opacity: 1;
  }
}