// == Project Variables == //

$header-gallery-width: 325px;

// == Project Page == //

body.project {
  .project-header {
    position: relative;
    z-index: 6;

    overflow: hidden;

    width: 100%;
    height: $header-gallery-width;
  }
  .project-header .gallery {
    font-size: 0;

    overflow-x: auto;
    overflow-y: hidden;

    width: 100%;
    height: $header-gallery-width;
    margin: auto;

    white-space: nowrap;

    background-color: #f9f9f9;

    -webkit-scroll-snap-type: mandatory;
    -ms-scroll-snap-type: mandatory;
    scroll-snap-type: mandatory;
    -webkit-scroll-snap-points-x: repeat($header-gallery-width);
    -ms-scroll-snap-points-x: repeat($header-gallery-width);
    scroll-snap-points-x: repeat($header-gallery-width);
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      display: none;

      width: 0;
      height: 0;
    }
  }
  .project-header .gallery img {
    z-index: 1;

    width: $header-gallery-width;
    margin-right: 5px;
  }
  a.full-view {
    position: absolute;
    z-index: 7;
    right: 0;
    bottom: 0;

    width: 44px;
    height: 44px;
    margin: 14px;

    background-color: #ffffff;
    box-shadow: -5px 10px 5px 0px rgba(0,0,0,.04), 5px 10px 5px 0px rgba(0,0,0,.04), 0px 8px 5px 0px rgba(0,0,0,.08);
  }
  a.full-view svg {
    width: 28px;
    height: 28px;
    margin: 8px;
  }
  // == Project Body == //
  .project-body {
    padding-bottom: 34px;
  }
  .project-body h2 {
    font-size: 32px;
    line-height: 32px;

    margin: 24px 24px 28px 24px;

    letter-spacing: .4px;

    color: #1e1e1e;
  }
  .project-body h3 {
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;

    margin: 10px 24px 14px 24px;

    letter-spacing: .3px;

    color: #1e1e1e;
  }
  .project-body p {
    font-size: 14px;
    line-height: 24px;

    margin: 14px 24px;

    letter-spacing: 0px;

    color: #4a4a4a;

    @include monospace();
  }
  .project-body img {
    width: 100%;
    padding: 0 10px;
  }
  a.project-body-btn {
    font-size: 14px;
    font-weight: bold;

    display: inline-block;

    margin: 10px 24px;
    padding: 10px 14px;

    letter-spacing: 0px;

    color: white;
    color: #ffffff;
    background: #1e1e1e;

    @include monospace();
  }
  // == Full View Gallery == //
  .full-view-gallery {
    position: fixed;
    z-index: 19;
    top: 0;
    left: 0;

    display: none;
    overflow: hidden;

    width: 100%;
    height: 100%;

    background-color: #ffffff;
    &.state-active {
      display: block;
    }
  }
  .full-view-gallery .gallery {
    font-size: 0;

    overflow-x: auto;
    overflow-y: hidden;

    width: 100%;
    height: 100%;
    margin: auto;

    white-space: nowrap;

    background-color: #ffffff;

    -webkit-scroll-snap-type: mandatory;
    -ms-scroll-snap-type: mandatory;
    scroll-snap-type: mandatory;
    -webkit-scroll-snap-points-x: repeat(100%);
    -ms-scroll-snap-points-x: repeat(100%);
    scroll-snap-points-x: repeat(100%);
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      display: none;

      width: 0;
      height: 0;
    }
  }
  .full-view-gallery img {
    position: relative;
    top: 50%;

    width: 96%;
    margin: 10px 2%;

    transform: translateY(-50%);

    box-shadow: -20px 10px 5px 0px rgba(0,0,0,.02), 20px 10px 5px 0px rgba(0,0,0,.02), 0px 4px 5px 0px rgba(0,0,0,.08);
  }
  .full-view-gallery .full-view-close {
		position: absolute;
		top: 6px;
		right: 6px;
		width: 34px;
    height: 34px;
    margin: 14px;

    background-color: #ffffff;
		z-index: 29;
  }
  .full-view-gallery .full-view-close svg {
  	width: 18px;
  	height: 18px;
  	margin: 8px;
  	rect {
  		fill: #ccc;
  	}
  }
}