// Typography

$type-sans-serif-stack: "Gotham", Gotham, "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

html {
  font-family: $type-sans-serif-stack;
  font-size: 16px;
  color: $c-text;
}

// Font smoothing hack
html, html a {
    -webkit-font-smoothing: antialiased !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

h1, h2, h3, h4, h5 {
  font-family: "Nimbus Sans Cond", "Nimbus Sans Condensed", "nimbus-sans-condensed", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  &:visited {
    color: inherit;
  }
  &:hover {
    color: inherit;
    outline: 0;
  }
  &:focus {
    outline: thin dotted;
  }
  &:active {
    outline: 0;
  }
}

li {}

@mixin monospace {
  font-family: SourceCodePro-Regular, "SourceCodePro", monospace;
}