body.work {
  // === About Body === //
  .work-content {
    width: 100%;
  }
  .work-content header {
    overflow: hidden;
  }
  .work-content header img {
    width: 100%;
  }
  .work-body {
    width: 700px;
    margin: 0 auto;
  }
  .work-body p {
    margin-bottom: 29px;
    font-size: 21px;
    line-height: 1.58;
    font-weight: 400;
    font-style: normal;

    letter-spacing: -.003em;
  }

  .work-body a {
    font-weight: bold;
  }

  .work-body h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }

  .work-body h2 {
    margin-bottom: 12px;
  }
}