// === Reset == //
@import "_reset.scss";

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

// === Grid == //
@import "_grid.scss";

// === Icons == //
@import "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";

// === Mixins === //
@import "_mixins.scss";

// Vars

// $c-text: #FFFFFF;
$c-text: #141722;
$c-black: #141722;
$c-bg: #FFFFFF;

html, body {
  background-color: $c-bg;
}

// === Typography == //

@import "_typography.scss";

// === Partials == //

@import "_header.scss";
@import "_footer.scss";
@import "_main.scss";

// === Includes == //
@import "includes/_hero-about.scss";
@import "includes/_track-player.scss";
@import "includes/_twitch-functions.scss";

// === Style == //

@import "_style.scss";

// Pages

@import "pages/_index.scss";
@import "pages/_about.scss";
@import "pages/_stream.scss";
@import "pages/_work.scss";
@import "pages/_project.scss";
@import "pages/_photos.scss";