---

---

<style>
    footer {
        padding: 1rem;
        display: flex;
        gap: 1rem;
    }
</style>

<footer>
    <a href="https://twitter.com/iamnbutler">twitter</a>
    <a href="https://github.com/iamnbutler">github</a>
    <a href="https://read.cv/natebutler">read.cv</a>
</footer>
