---
import FragmentListItem from "../components/fragment-list-item.astro";
import { getCollection } from "astro:content";
const allFragments = await getCollection("fragment");
---

<section class="flex flex-col gap-2 flex-none max-w-80 overflow-y-scroll">
    {
        allFragments
            .slice()
            .reverse()
            .map((f, ix) => <FragmentListItem f={f} ix={ix} />)
    }
</section>
