---
import FragmentListItem from "../components/fragment-list-item.astro";
import { getCollection } from "astro:content";
const allFragments = await getCollection("fragment");
---

<section class="flex flex-col gap-2 flex-none max-w-80 overflow-y-scroll">
    {
        allFragments
            .slice()
            .sort(
                (a, b) =>
                    new Date(b.data.date_published).getTime() -
                    new Date(a.data.date_published).getTime(),
            )
            .map((f, ix) => <FragmentListItem f={f} ix={ix} />)
    }
</section>
