---
import { getCollection } from "astro:content";
const allFragments = await getCollection("fragment");
const allSets = await getCollection("fragmentSet");

type Fragment = (typeof allFragments)[0];

type FragmentProps = {
    f: Fragment;
    ix: number;
};

const { f, ix } = Astro.props as FragmentProps;
---

<a href={`/f/${f.slug}`} class="border border-transparent flex gap-12 w-full">
    <div class="flex flex-col h-full flex-grow">
        <h2 class="type-large-1">{f.data.title}</h2>
        <p class="type-default muted-text">{f.data.preview}</p>
    </div>
</a>
