---

---

<style>
    nav {
        display: flex;
        gap: 2em;
        padding: 1em;
    }
</style>

<nav>
    <a href="/">Mission Control</a>
    <a href="/fragments/">Fragments</a>
    <a href="/about/">Information</a>
</nav>
