---
import Icon from "./icon.astro";
---

<style>
    nav {
        font-family: "Visitor TT1 (BRK)";
    }
</style>

<nav class="w-full flex gap-2 justify-between">
    <!-- Left -->
    <section class="flex gap-2">
        <Icon name="arrow-left" />
        <p>nate.rip</p>
    </section>
    <!-- Left -->
    <section class="flex gap-2">
        <a href="/">index</a>
        <a href="/f/00">fragments</a>
        <a href="/f/00">bio</a>
    </section>
</nav>
