---
import * as Icon from "../icons";
---

<style>
    .text-nav-link,
    .text-nav-link:visited,
    .text-nav-link:active {
        color: var(--muted-text);
    }

    .text-nav-link:hover {
        color: var(--purple-light);
    }
</style>

<nav class="w-full flex gap-2 justify-between">
    <!-- Left -->
    <section class="flex gap-3">
        <a class="text-nav-link" href="/">nate.rip</a>
        <!-- <a class="text-nav-link" href="/f/00">fragments</a> -->
        <!-- <a class="text-nav-link" href="/tags">tags</a> -->
    </section>
    <!-- Left -->
    <section class="flex gap-2">
        <a
            class="text-nav-link icon-primary"
            href="https://twitter.com/iamnbutler"
        >
            <Icon.QuoteRight />
        </a>
        <a class="text-nav-link" href="https://github.com/iamnbutler">
            <Icon.Code /></a
        >
        <a class="text-nav-link" href="https://read.cv/natebutler">
            <Icon.Suitcase /></a
        >
    </section>
</nav>
