<!-- Site Footer -->
<section class="card wide site-footer">
  <div class="content">
    <h1>fin.</h1>
    <ul>
      <li>If you are done here, check out some <a href="#">friends</a>!</li>
      <li>Looking to hire someone? Try <a href="https://womenwho.design/">one</a> <a href="https://blackswho.design/">of</a> <a href="https://peopleofcraft.com/">these</a>.</li>
      <li>Never stop making!</li>
      <li>∞</li>
    </ul>
  </div>
  <footer>ⓒ Nate Butler, 2021 <a href="https://github.com/iamnbutler/iamnbutler.github.io">V11.0</a></footer>
</section>