<footer class="layout-card">
  <div class="footer-attribution">Nate Butler, 2021. <a href="https://github.com/iamnbutler/iamnbutler.github.io">V11</a></div>
  <div class="footer-meta">Never stop making ∞</div>
</footer>