<div class="card site-nav">
  <nav>
    <!-- Main Nav – Header -->
    <a href="{{ '/' | url }}" class="brand-link" {% if page.url == '/' | url %}aria-current="page"{% endif %}>
      <h1 class="float">nate.rip</h1>
    </a>

    <!-- Main Nav – Nav List -->
    <!-- TODO: Add counts to nav items -->
    <!-- TODO: Made dynamic -->
    <ul class="list">
      <li>
          <h2 class="link">✏️ <a href="/posts">Posts &amp; Tags</a></h2>
          <h3>Where I write about pretty much everything.</h3>
      </li>
      <li>
          <h2 class="link">🎒 <a href="/work">Selected Work</a></h2>
          <h3>(I do real work, sometimes...)</h3>
      </li>
      <li>
          <h2 class="link">🍎 <a href="/tips">Tips &amp; Guides</a></h2>
          <h3>Hardware, hobbiest software, design &amp; more.</h3>
      </li>
      <li>
          <h2 class="link">📒 <a href="/lists">Lists</a></h2>
          <h3>Dev resources, gear, software, movie lists &amp; more.</h3>
      </li>
      <li>
          <h2 class="link">🌱 <a href="/about">About Me</a></h2>
      </li>
    </ul>
  </nav>
</div>  