<ul class="layout-list">
  <li class="list-header">
    <h3>Posts</h3>
    <a href="#">
      <i class="icon plus"></i>
    </a>
  </li>
  {% for post in postslist | reverse %}
  <li class="list-item">
    <div class="primary">
      <a href="{{ post.url | url }}">
					{% if post.data.title %}
						{{ post.data.title }}
					{% else %}
						Untitled
					{% endif %}
				</a>
    </div>
    <div class="secondary">
      <div class="post-tag">
        {% if post.data.tags %}
          <p>
            {% for tag in post.data.tags %}
              {%- if tag != "post" -%}
                {% set tagUrl %}/tags/{{ tag }}/{% endset %}
              <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
              {%- endif -%}
            {% endfor %}
          </p>
        {% endif %}
      </div>
      <div class="post-date date-MY">
        <time datetime="{{ post.date | machineDate }}">
					{{ post.date | readableDate }}
				</time>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>