$color-black: #000;
$color-white: #FFF;


@media (prefers-color-scheme: light) {
  :root {
    --demo-border: $color-dark;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --demo-border: $color-light;
  }
}
.demo {
  
}

.demo header {
  height: 3rem;
  border-bottom: 1px solid var(--demo-border);
  display: flex;

  & li {
    padding: 0.5rem 1rem;
  }
}

/* .demo-wrapper {
  margin: 0 auto;
  padding: 64px 32px;
  max-width: 1024px;
} */