// Style prose text like articles, body copy, etc.
// TODO: Use https://www.typenugget.com/ to bootstrap initial type ramp

.prose {
  // TODO: Prose width should be dynamically derived from $type-size.
  max-width: 720px;
  text-rendering: optimizeLegibility;

  // Build type ramp
  $type-size-multiplier: 1;
  $type-size-ratio: 1.2;
  
  $type-size: 1rem * $type-size-multiplier * $type-size-ratio;
  $type-letter-spacing: -0.011 * $type-size;

  h1 {
    font-size: $type-size-ratio * $type-size-ratio * $type-size-ratio *
      $type-size;
  }

  h2 {
    font-size: $type-size-ratio * $type-size-ratio * $type-size;
  }

  h3 {
    font-size: $type-size-ratio * $type-size;
  }

  h4 {
    font-size: $type-size;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: $type-size-ratio * 2rem;
    font-variation-settings: "wght" 600, "calt" 1, "frac" 1, "case" 1, "ss03" 1;
  }

  h1,
  h2 {
    margin-bottom: 0.55em;
  }

  h3,
  h4 {
    margin-bottom: 0.35em;
  }

  p,
  li,
  h1,
  h2,
  h3,
  h4 {
    overflow-wrap: break-word;
    hyphens: auto;
    letter-spacing: $type-letter-spacing;
  }

  p {
    font-size: $type-size;
    line-height: $type-size * 1.5rem;
    margin-bottom: 1em;
  }

  :not(pre) > code {
    font-size: $type-size * 0.85;
    white-space: pre-wrap;
  }
}
