.ui {
  // Reset
  ul {
    list-style: none;
  }
  a, a:active, a:hover, a:visited {
    color: inherit;
    text-decoration: none;
  }
}

// ==
// == Layout Helpers
// ==

.h-stack {
  display: flex;
  flex-direction: row;
}

.v-stack {
  display: flex;
  flex-direction: column;
}

[class*="-stack"].center {
  align-content: center;
}

[class*="-stack"].center-items {
  align-items: center;
}

[class*="-stack"].justify {
  justify-content: space-between;
}

// ==
// == Spacing
// ==

.p-quarter {
  padding: 0.25rem;
}

.p-half {
  padding: 0.5rem;
}

.p-rem {
  padding: 1rem;
}

.p-2rem {
  padding: 2rem;
}

// ==
// == Visual Treatments
// ==

.bold {
  font-weight: 600;
  font-variation-settings: "wght" 600;
}