//
// Variables
//

$font-main: sans-serif !default;
$font-size: 100% !default;
$lineheight: 1.5 !default;

$font-code: monospace !default;
$lineheight-code: 1.3 !default;

// ==
// == Base Colors
// ==

$color-black: #000000;
$color-white: #FFFFFF;
$color-light: $color-white;
$color-dark: $color-black;

// These drive dark and light themes.
$background-dark: $color-black;
$background-light: $color-white;

@media (prefers-color-scheme: light) {
  :root {
    --base-color: $color-dark;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --base-color: $color-light;
  }
}