//
// Variables
//

$font-main: sans-serif !default;
$font-size: 100% !default;
$lineheight: 1.5 !default;

$font-code: monospace !default;
$lineheight-code: 1.3 !default;

$color-dark: #000;
$background-dark: #000;

$color-light: #fff;
$background-light: #fff;

// default colors
$color-back: #fff !default;
$color-fore: #012 !default;