---
title: hey, i'm nate ✌🏽
layout: layouts/base.njk
subtitle: Does anyone read these?
date: 2017-01-01T00:00:00.000Z
permalink: /about/index.html
eleventyNavigation:
  key: About Me
  order: 4
---
<section class="card wide about-intro">
<h2>I’m a designer &amp; maker passionate about democratizing knowledge and the tools that enable people to create.</h2>

<p>People should be able to share themselves, their ideas, and their creativity, responsibly &amp; in the way that represents them best. This should be regardless of platform. We aren't doing this well and we have a long way to go to understand technology and it's influence on our lives and society.</p>

<p>This makes me want to help people create the things important to them&mdash;To empower them to create something themselves and feel the euphoria it brings. My goal is always to help the people around me level up, in their careers &amp; lives.</p>

<p>I post about all types of things here. You will find a mix of <a href="/work">work</a>, <a href="/tags/thought">top of mind</a>, <a href="/tags/editorial">reflections</a>, &amp;  <a href="/tags/process">process</a>. Enjoy!</p>

</section>

<section class="card wide secondary about-hire">
<h2>Looking to Hire Someone?</h2>

<p>I'm not looking for work right now, but you can try one of these:

<ul>
  <li><a href="https://womenwho.design/">Women Who Design</a></li>
  <li><a href="https://blackswho.design/">Blacks Who Design</a></li>
  <li><a href="https://peopleofcraft.com/">People of Craft</a></li>
  <li></li>
</ul>

</p>

</section>

<section class="card wide about-elsewhere">
  <h1>elsewhere</h1>
  {% include "components/partials/social-list.njk" %}
</section>

<section class="card wide about-mentions">
  <h1>mentions</h1>
  <p>I've been extremely privileged to work on some awesome projects – Here are a few I’ve lead design on that have been mentioned externally:</p>
  {% include "components/partials/media-list.njk" %}
  <a href="/mentions">More</a>
</section>
