---
title: Tips & Guides
layout: layouts/base.njk
date: 2016-01-01T00:00:00.000Z
permalink: /learn/index.html
eleventyNavigation:
  key: Tips &amp; Guides
  order: 3
---

<section class="card" id="posts">
	<h1>{{ title }}</h1>
</section>