---
layout: layouts/base.njk
section: blog
permalink: /blog/index.html
---
<section class="card wide" id="blog">
	<article>
    <header>
      <h1>{{ title }}</h1>
    </header>

    {{ layoutContent | safe }}

    {% set postslist = collections.post %}
    {% include "components/postslist.njk" %}
  </article>
</section>

