---
layout: layouts/base.njk
section: home
---
  
  <div class="card">
    <div class="content">
      <h2 class="fake-h1 theme-2">hey ✌🏽</h2>
      <h2 class="layout-space">
        I'm a designer &amp; maker that builds tools to help people share knowledge, express themselves and create.</h2>
      <p>
        I want to help people create the things important to them&mdash;To empower them to create something themselves and feel the euphoria it brings.</p>
      <p>
        I want to help the people around me level up, in their careers &amp; lives as I level up my self.
      </p>
      
    </div>
    <footer>
      <a href="/about">More about me?</a>
      <img src="https://storage.googleapis.com/yaminateo-image-bucket/img/global/nate.gif" alt="Avatar of Nate Butler" class="nate-avatar">
    </footer>
  </div>
  <div class="card secondary">
    <div class="content">
      <h2 class="fake-h1 theme-3">work 🎒</h2>
      <p>As I work through documenting my old projects you can read more about my work on <a href="https://read.cv/natebutler" target="_blank">Read.cv</a>!</p>
      {% include "components/partials/work-list.njk" %}
    </div>
    <footer>
      <a href="https://read.cv/natebutler" target="_blank">Read.cv</a>
    </footer>
  </div>

  <section class="card" id="posts">
  <h2 class="fake-h1 theme-4">posts ✏️</h2>
  <p>
    I write about all types of things here. You will find a mix of
    <a href="/work">work</a>, <a href="/tags/thought">top of mind</a>, <a href="/tags/editorial">reflections</a>, &amp;  <a href="/tags/process">process</a>.
  </p>
  <p>I'm currently backdating some of my old posts, so you may see a few more things pop in here over the next few weeks.</p>
  <p>Enjoy!</p>
  <div class="list tag-list">
    <h2>tags</h2>
    {% for tag in collections.tagList | filterTagList %}
      {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="post-tag listify text-capitalize">{{ tag }}</a>
    {% endfor %}
    <h2>topics</h2>
    <p>wip</p>
  </div>
  </section>

  <!-- TODO: For all post lists – Filter out unpublished posts (Should this happen at the data level?) -->
  <!-- TODO: Abstract featured list to a partial -->
  <!-- TODO: Make styles non-specifc to home -->
  <!-- TODO: Filter out posts that featured == FALSE -->
  <!-- TODO: Choose total post count and limit -->
  <!-- TODO: Refactor this section -->

  <!-- TODO: Only show summary if show_thumbnail == FALSE -->
  <!-- TODO: Cap summary at 15 lines -->
  {% set postslist = collections.post %}

  {% for post in postslist | reverse | limit(19) %}
  {# Only show the post if it is featured #}
  {%- if post.data.featured === true -%}
  <article class="card e2e
        {# {% if post.data.prefer_wide_thumbnail %} wide {% endif %} #}
        {% if post.data.show_thumbnail %} has-thumbnail{% endif %}">
    {# If there is a post thumbnail show it #}
    {%- if post.data.show_thumbnail and post.data.thumbnail -%}
    {# If a post prefers wide thumbnails use them #}
    <a href="{{ post.url | url }}">
      <div class="thumbnail">
        <img src="{{ post.data.thumbnail }}" alt="Image Placeholder" class="thumbnail-1x1">
        {%- if post.data.wide_thumbnail -%}
        <img src="{{ post.data.wide_thumbnail }}" alt="Image Placeholder" class="thumbnail-2x1">
        {% endif %}
      </div>
    </a>
    {% endif %}

    <div class="content post-preview">
      <div class="preview-content">
        <h2 class="layout-space">
          {% if post.data.title %}
          <a href="{{ post.url | url }}">{{ post.data.title }}</a>
          {% else %}
          <a href="{{ post.url | url }}">Untitled</a>
          {% endif %}
        </h2>
        <h3 class="layout-space">{{ post.data.subtitle }}</h3>
        <p class="preview-summary layout-space-large"> {{ post.data.summary }}</p>
      </div>
      {%- if post.data.series -%}
        <p class="layout-space">Part of <a href="#">{{ post.data.series }}</a>.</p>
      {%- endif -%}
    </div>
    <footer class="post-preview-meta">
      <div class="post-tag">
        <p class="text-capitalize">
          {{ post.data.primary_tag }}
        </p>
      </div>
      <div class="post-date date-MY text-uppercase">
        <time datetime="{{ post.date | machineDate }}">
          {{ post.date | mmyy }}
        </time>
      </div>
    </footer>
    {% endif %}
  </article>
  {% endfor %}