---
layout: layouts/base.njk
section: home
---
<section class="site-content" id="home">

  <section class="layout-card home-about">
    {{ layoutContent | safe }}
  </section>

  <section class="home-featured">
    {% set postslist = collections.post %}
    <ul class="home-feature-list">

      {% for post in postslist | reverse | limit(4) %}
      <li class="list-item layout-tile full">
        
        <div class="thumbnail">
          <img src="{{ post.data.thumbnail_url }}" alt="Image Placeholder">
        </div>
        
        <div class="post-preview">
          <div class="preview-content">
              <h3 class="layout-space">
                <a href="{{ post.url | url }}">
                {% if post.data.title %}
                  {{ post.data.title }}
                {% else %}
                  Untitled
                {% endif %}
                </a>
              </h3>
              <p class="layout-space-large"> {{ post.data.summary }} </p>
          </div>
          
          <div class="post-preview-meta">
            <div class="post-tag">
              {% if post.data.tags %}
                <p class="text-capitalize">
                  {% for tag in post.data.tags %}
                    {%- if tag != "post" -%}
                      {% set tagUrl %}/tags/{{ tag }}/{% endset %}
                      <a href="{{ tagUrl | url }}" rel="tag">
                        {{ tag }}
                      </a>
                    {%- endif -%}
                  {% endfor %}
                </p>
              {% endif %}
            </div>
            <div class="post-date date-MY">
              <time datetime="{{ post.date | machineDate }}">
                {{ post.date | readableDate }}
              </time>
            </div>
          </div>
        </div>        
        
      </li>
      {% endfor %}

    </ul>
  </section>

  <section class="layout-card home-posts">
    {% set postslist = collections.post %}
    {% include "components/post-layout-list.njk" %}
  </section>

  <section class="layout-card home-work">
    <h4>Work</h4>
  </section>

  <section class="layout-card home-elsewhere">
    <h4>Elsewhere</h4>
  </section>

  <section class="layout-card home-mentions">
    <h4>Mentions</h4>
  </section>

</section>





<aside id="sidebar" class="site-sidebar">
  <section class="sidebar-articles">
    
    <ul class="writing-feature-list">
      {% for post in postslist | reverse | limit(3) %}
      <li class="list-item layout-tile full">
        <header>
          <div>
            <div class="primary">
              <a href="{{ post.url | url }}">
                  <h3 class="layout-space">
                    {% if post.data.title %}
                      {{ post.data.title }}
                    {% else %}
                      Untitled
                    {% endif %}
                  </h3>
                </a>
            </div>
            <p class="layout-space-large"> {{ post.data.summary }} </p>
            <div class="flex-row text-caption">
              <div class="post-tag">
                {% if post.data.tags %}
                  <p>
                    {% for tag in post.data.tags %}
                      {%- if tag != "post" -%}
                        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
                      <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
                      {%- endif -%}
                    {% endfor %}
                  </p>
                {% endif %}
              </div>
              <div class="post-date date-MY">
                <time datetime="{{ post.date | machineDate }}">
                  {{ post.date | readableDate }}
                </time>
              </div>
            </div>
          </div>
        </header>
      </li>
      {% endfor %}
    </ul>
  </section>
</aside>
