---
layout: layouts/base.njk
section: page
---
<div class="site-content page">
  <header>
    <h1>{{ title }}</h1>
  </header>
  <section class="page-main">
    {{ layoutContent | safe }}
  </section>
</div>
