---
layout: layouts/base.njk
section: post
---

<section class="site-content" id="post">
	<article>
    <header>
      <div class="inner">
        <h1>{{ title }}</h1>
        <p class="subtitle layout-space">{{ subtitle }}</p>
        <p>
          <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time>
          {% if date_updated %}
          <time datetime="{{ date_updated | machineDate }}">(Updated {{ date_updated | readableDate }})</time>
          {% endif %}
          &mdash;

          {% if tags %}
          {% for tag in tags %}
          {%- if tag != "post" -%}
          {% set tagUrl %}/tags/{{ tag }}/{% endset %}
          <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
          {%- endif -%}
          {% endfor %}

        {% endif %}
        </p>
      </div>
    </header>

    <div class="post-content post-rich-text">
      
      {% if hero_image %}
      <section class="hero-image-wrapper">
        <figure class="hero-image">
          <img src="{{ hero_image }}"
              alt="{{ title }}">
          <figcaption>Photo credit: <a href="https://unsplash.com/@slavasfotos">Slava Keyzman</a></figcaption>
        </figure>
      </section>
      {% endif %}
      
      <div class="inner">
        {% if hero_image %}
        <section class="edit">
          <p>{{ edit }}</p>
        </section>
        {% endif %}
        {{ layoutContent | safe }}
      </div>

    </div>

  </article>
</section>