---
layout: layouts/base.njk
section: post
---

<section class="card major e2e" id="post">
	<article>
    {% if hero_image %}
      <img src="{{ hero_image }}"
            alt="{{ title }}">
    {% endif %}
    <header>
      <div class="inner">
        <h1 class="post-title">{{ title }}</h1>
        <p class="subtitle layout-space">{{ subtitle }}</p>
        <p>
          <time>{{ date }}</time>
          {% if date_updated %}
          <time>(Updated {{ date_updated }})</time>
          {% endif %}
          &mdash;

          {% if tags %}
          {% for tag in tags %}
            {%- if tag != "post" -%}
            {% set tagUrl %}/tags/{{ tag }}/{% endset %}
              <span class="post-tag"><a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a></span>
            {%- endif -%}
          {% endfor %}

        {% endif %}
        </p>
      </div>
    </header>

    <div class="post-content post-rich-text">
      
      <div class="inner">
        {% if edit %}
        <section class="edit">
          <p>{{ edit }}</p>
        </section>
        {% endif %}
        {{ layoutContent | safe }}
      </div>

    </div>

  </article>
</section>

