---
layout: layouts/base.njk
section: posts
---

<section class="card" id="posts">
	<h1>{{ title }}</h1>
</section>
{% set postslist = collections.post %}
{% include "components/partials/post-grid.njk" %}