---
layout: layouts/base.njk
section: post
---

<section class="card major e2e" id="post">
	<article>
    <header class="post-header">
      <div class="inner">
        {%- if series -%}
          <p class="post-series overline layout-space"><a href="#" class="post-series-link">{{ series }}</a>
          {%- if series_number -%}
          , Part {{ series_number }} &mdash;
          {%- endif -%}
          </p>
        {%- endif -%}
        <h1 class="post-title theme-1">{{ title }}</h1>
        <p class="subtitle layout-space">{{ subtitle }}</p>
        <div class="post-meta">
          {% if tags %}
          <p class="post-tags">
          Posted in
          {% for tag in tags %}
            {%- if tag != "post" -%}
            {% set tagUrl %}/tags/{{ tag }}/{% endset %}
              <span class="post-tag"><a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a></span>
            {%- endif -%}
          {% endfor %}
          </p>
          {% endif %}

          <p class="post-time">
            {% if date_updated %}
            <time>Updated {{ date_updated }}</time>
            {% else %}
            <time>Posted {{ date }}</time>
            {% endif %}
          </p>
        </div>
      </div>
    </header>

    <div class="post-content post-rich-text">
      
      <div class="inner">
        {% if hero_image %}
          <img src="{{ hero_image }}"
                alt="{{ title }}">
        {% endif %}
        {% if edit %}
        <section class="side-note">
          <p>{{ edit }}</p>
        </section>
        {% endif %}
        {{ layoutContent | safe }}
      </div>

    </div>

  </article>
</section>

