---
layout: layouts/base.njk
section: posts
---

<section class="site-content" id="posts">
	<section class="layout-frame large">
    <header >
      <h1>{{ title }}</h1>
    </header>

    {{ layoutContent | safe }}
  </section>
  <section class="posts-list">
    {% set postslist = collections.post %}
    {% include "components/partials/post-grid.njk" %}
  </section>
</section>