---
import "../style.css";
import Head from "../components/head.astro";
import Footer from "../components/footer.astro";
import Nav from "../components/nav.astro";
import { lipsum } from "../lib/content.ts";

interface Props {
    title: string;
    fullWidth?: boolean;
}

const { title, fullWidth } = Astro.props;
---

<html lang="en">
    <Head title={title} />
    <body
        class="dark bg-white text-black dark:bg-black dark:text-white min-h-screen w-screen overflow-x-hidden flex flex-col justify-between"
    >
        <Nav />
        {
            fullWidth ? (
                <main class="flex w-full">
                    <div class="w-1/3 overflow-y-scroll">
                        <slot />
                    </div>
                    <div class="w-2/3 flex-grow overflow-hidden">
                        <div
                            id="art"
                            class="max-w-900px mx-auto h-full"
                            style={`background-image: url('/img/frames/kuroneko_blink_0.png')`}
                        >
                            {lipsum}
                        </div>
                    </div>
                </main>
            ) : (
                <main>
                    <slot />
                </main>
            )
        }
        <Footer />
    </body>
</html>
