---
import "../style.css";
import Head from "../components/head.astro";
import Footer from "../components/footer.astro";
import Nav from "../components/nav.astro";
const { title } = Astro.props;
---

<html lang="en">
    <Head title={title} />
    <body>
        <Nav />
        <slot />
        <Footer />
    </body>
</html>
